Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

fix: cdn prefix
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

fix: cdn prefix
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

deploy: 2020b886be8fafd943af200d175789cca18fca67
  tuya-components-styled/index.html
  tuya-components-styled/style.58d03940.js
  tuya-components-styled/style.8a89b777.js
  tuya-components-styled/umi.c934ee84.js
  tuya-components-styled/umi.f32c4f2a.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.58d03940.js
  tuya-panel-kit/style.befd52f7.js
  tuya-panel-kit/umi.2bb73588.js
  tuya-panel-kit/umi.c55252f4.js
Owners: @youngjuning, @ShinyLeee

fix: cdn prefix
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

fix: cdn prefix
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

deploy: 417ef00c015100ba3bbbd4752d5b4c40ddff9b5a
  tuya-components-styled/index.html
  tuya-components-styled/style.8a89b777.js
  tuya-components-styled/style.fddb9f90.js
  tuya-components-styled/umi.0c299b0e.js
  tuya-components-styled/umi.f32c4f2a.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.befd52f7.js
  tuya-panel-kit/style.f839e102.js
  tuya-panel-kit/umi.c55252f4.js
  tuya-panel-kit/umi.ce86027b.js
Owners: @youngjuning, @ShinyLeee

fix: cdn prefix
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

fix: cdn prefix
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

deploy: 1b5fc4901f6b59ec7e8c15cd4b6b5359ff6d1587
  tuya-components-styled/index.html
  tuya-components-styled/style.a0d162f2.js
  tuya-components-styled/style.fddb9f90.js
  tuya-components-styled/umi.0c299b0e.js
  tuya-components-styled/umi.295f9e43.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.610cecf0.js
  tuya-panel-kit/style.f839e102.js
  tuya-panel-kit/umi.ce86027b.js
  tuya-panel-kit/umi.f1564bcb.js
Owners: @youngjuning, @ShinyLeee

fix(global): fix confict of global
  packages/tuya-panel-theme/src/base.ts
Owners: @ZengBeauty

feat(ble): The offline jump link was changed to the knowledge base H5 link (#171)
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

feat(ble): The offline jump link was changed to the knowledge base H5 link (#171)
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

fix(global): fix confict of global (#172)
  packages/tuya-panel-theme/src/base.ts
Owners: @ZengBeauty

fix(global): fix confict of global (#172)
  packages/tuya-panel-theme/src/base.ts
Owners: @ZengBeauty

deploy: e7bb378512646d79a769c1953d718009212b196d
  tuya-components-styled/index.html
  tuya-components-styled/vendors.6ab4624f.async.js
  tuya-components-styled/vendors.edca3be4.async.js
Owners: @youngjuning, @ShinyLeee

fix(Switch): fixed Switch controlled and borderRadius
  example/tuya-components-styled/src/pages/bool/switch-card/index.tsx
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/index.test.js
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-switch/src/index.tsx
  packages/tuya-panel-switch/src/interface.ts
  packages/tuya-panel-switch/src/switch.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty, @ShinyLeee

fix(Notification): Fixed Notification not centered in IOS
  packages/tuya-panel-kit/src/components/notification/index.js
  packages/tuya-panel-kit/src/components/notification/styled.js
Owners: @ZengBeauty

Delete eslint.yml
  .github/workflows/eslint.yml
Owners: @youngjuning, @ShinyLeee

fix(Notification): Fixed Notification not centered in IOS (#176)
  packages/tuya-panel-kit/src/components/notification/index.js
  packages/tuya-panel-kit/src/components/notification/styled.js
Owners: @ZengBeauty

deploy: f3b3acc2d5bdaca7c4d7ec97a373f26a4e0e4e95
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.98665cef.async.js
  tuya-panel-kit/tuya-panel-kit.ed032e99.async.js
  tuya-panel-kit/vendors.e9d5deaf.async.js
Owners: @youngjuning, @ShinyLeee

fix(Switch): fixed Switch controlled and borderRadius (#175)
  example/tuya-components-styled/src/pages/bool/switch-card/index.tsx
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/index.test.js
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-switch/src/index.tsx
  packages/tuya-panel-switch/src/interface.ts
  packages/tuya-panel-switch/src/switch.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty, @ShinyLeee

deploy: b29d6e55f84513bac861db3df46102948959e543
  tuya-components-styled/index.html
  tuya-components-styled/umi.295f9e43.js
  tuya-components-styled/umi.bd92565a.js
Owners: @youngjuning, @ShinyLeee

deploy: 6fd80bdeb210c8824b42ca97d13da9bfe12f3fbb
  tuya-components-styled/index.html
  tuya-components-styled/vendors.2db389ff.async.js
  tuya-components-styled/vendors.edca3be4.async.js
Owners: @youngjuning, @ShinyLeee

chore: remove email
  packages/tuya-panel-motion/package.json
Owners: @youngjuning, @ShinyLeee

deploy: 719f3418c70cecd30d94da4c5c0b8a7378888749
  index.html
  style.e91da424.js
  tuya-components-styled/index.html
  tuya-components-styled/style.a0d162f2.js
  tuya-components-styled/umi-plugin-react-native.180ead60.chunk.css
  tuya-components-styled/umi-plugin-react-native.480c547b.async.js
  tuya-components-styled/umi.6998e3b3.css
  tuya-components-styled/umi.bd92565a.js
  tuya-components-styled/vendors.2db389ff.async.js
  tuya-panel-kit.897e5e4e.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.610cecf0.js
  tuya-panel-kit/tuya-panel-kit.ed032e99.async.js
  tuya-panel-kit/umi-plugin-react-native.180ead60.chunk.css
  tuya-panel-kit/umi-plugin-react-native.480c547b.async.js
  tuya-panel-kit/umi.6998e3b3.css
  tuya-panel-kit/umi.f1564bcb.js
  tuya-panel-kit/vendors.e9d5deaf.async.js
  umi-plugin-react-native.180ead60.chunk.css
  umi-plugin-react-native.480c547b.async.js
  umi.6998e3b3.css
  umi.8769519e.js
  vendors.8de71030.async.js
Owners: @youngjuning, @ShinyLeee

deploy: 251040f4aac804fe13b12ec82187cb68b8bce693
  index.html
  style.e91da424.js
  tuya-components-styled/index.html
  tuya-components-styled/style.a0d162f2.js
  tuya-components-styled/umi-plugin-react-native.180ead60.chunk.css
  tuya-components-styled/umi-plugin-react-native.480c547b.async.js
  tuya-components-styled/umi.6998e3b3.css
  tuya-components-styled/umi.bd92565a.js
  tuya-components-styled/vendors.2db389ff.async.js
  tuya-panel-kit.897e5e4e.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.610cecf0.js
  tuya-panel-kit/tuya-panel-kit.134c0794.async.js
  tuya-panel-kit/umi-plugin-react-native.180ead60.chunk.css
  tuya-panel-kit/umi-plugin-react-native.480c547b.async.js
  tuya-panel-kit/umi.6998e3b3.css
  tuya-panel-kit/umi.f1564bcb.js
  tuya-panel-kit/vendors.c207d2dc.async.js
  umi-plugin-react-native.180ead60.chunk.css
  umi-plugin-react-native.480c547b.async.js
  umi.6998e3b3.css
  umi.8769519e.js
  vendors.8de71030.async.js
Owners: @youngjuning, @ShinyLeee

chore: remove emial
  packages/tuya-panel-radial-gradient/package.json
Owners: @youngjuning, @ShinyLeee

deploy: 0cd8814b4660db863909040f1fe095315528730a
  tuya-components-styled/index.html
  tuya-components-styled/style.9dd27ce3.js
  tuya-components-styled/style.a0d162f2.js
  tuya-components-styled/umi.687dccb6.js
  tuya-components-styled/umi.bd92565a.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.610cecf0.js
  tuya-panel-kit/style.ebc568c0.js
  tuya-panel-kit/umi.8c6aa130.js
  tuya-panel-kit/umi.f1564bcb.js
Owners: @youngjuning, @ShinyLeee

deploy: fd95b01bb041aecd2a87c432da72db82640c64ad
  tuya-components-styled/index.html
  tuya-components-styled/style.9dd27ce3.js
  tuya-components-styled/style.a0d162f2.js
  tuya-components-styled/umi.687dccb6.js
  tuya-components-styled/umi.bd92565a.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.610cecf0.js
  tuya-panel-kit/style.ebc568c0.js
  tuya-panel-kit/umi.8c6aa130.js
  tuya-panel-kit/umi.f1564bcb.js
Owners: @youngjuning, @ShinyLeee

feat(Dialog): The dialog.prompt confirmation button is highlighted by default, and new properties support changing the highlighted properties
  packages/tuya-panel-kit/src/components/dialog/__tests__/__snapshots__/prompt.test.js.snap
  packages/tuya-panel-kit/src/components/dialog/prompt.js
Owners: @ZengBeauty

feat(Dialog): The dialog.prompt confirmation button is highlighted by default, and new properties support changing the highlighted properties (#177)
  packages/tuya-panel-kit/src/components/dialog/__tests__/__snapshots__/prompt.test.js.snap
  packages/tuya-panel-kit/src/components/dialog/prompt.js
Owners: @ZengBeauty

deploy: 09a7a6eae3a00d7d57c08a271b507e03951525c4
  tuya-components-styled/index.html
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.0ae7c9fb.async.js
  tuya-panel-kit/tuya-panel-kit.134c0794.async.js
Owners: @youngjuning, @ShinyLeee

fix(Popup.countdown): When type = dark, the popup. countdown background color is white and looks blank
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/countdown.test.js.snap
  packages/tuya-panel-kit/src/components/popup/countdown.js
Owners: @ZengBeauty

perf(Popup): Optimize the order of asynchronous events, fixed #178
  packages/tuya-panel-kit/src/components/dialog/withMotion.js
  packages/tuya-panel-kit/src/components/popup/withSkeleton.js
Owners: @ZengBeauty

perf(IconFont): IconFont supports array PATH interaction
  packages/tuya-panel-icon/src/svg/index.tsx
  packages/tuya-panel-icon/src/svg/interface.ts
  packages/tuya-panel-style-enum-card/src/__tests__/__snapshots__/enum-card.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
Owners: @youngjuning, @ShinyLeee, @chechengyi, @ZengBeauty

perf(Popup): Optimize the order of asynchronous events, fixed #178 (#179)
  packages/tuya-panel-kit/src/components/dialog/withMotion.js
  packages/tuya-panel-kit/src/components/popup/withSkeleton.js
Owners: @ZengBeauty

fix(Popup.countdown): When type = dark, the popup. countdown background color is white and looks blank (#180)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/countdown.test.js.snap
  packages/tuya-panel-kit/src/components/popup/countdown.js
Owners: @ZengBeauty

perf(IconFont): IconFont supports array PATH interaction (#181)
  packages/tuya-panel-icon/src/svg/index.tsx
  packages/tuya-panel-icon/src/svg/interface.ts
  packages/tuya-panel-style-enum-card/src/__tests__/__snapshots__/enum-card.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
Owners: @youngjuning, @ShinyLeee, @chechengyi, @ZengBeauty

deploy: dcb265796730e79c0671ad485ea45458193fba11
  tuya-components-styled/index.html
  tuya-components-styled/vendors.2db389ff.async.js
  tuya-components-styled/vendors.c665cf10.async.js
Owners: @youngjuning, @ShinyLeee

feat(IconFont): IconFont supports multi-path icon adaptation
  packages/tuya-panel-icon/src/svg/index.tsx
  packages/tuya-panel-kit/src/components/TYLists/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/checkbox/__tests__/__snapshots__/checkbox.test.js.snap
  packages/tuya-panel-kit/src/components/iconfont/svg/index.js
Owners: @youngjuning, @ShinyLeee, @ZengBeauty
