Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

chore(kit): update version
  example/tuya-panel-kit/babel.config.js
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/yarn.lock
  package.json
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-utils/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee, @ZengBeauty

feat(tuya-panel-style-step-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/number/step-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-step-card/src/interface.ts
  packages/tuya-panel-style-step-card/src/nordic.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(tuya-panel-style-step-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/number/step-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-step-card/src/interface.ts
  packages/tuya-panel-style-step-card/src/nordic.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(tuya-panel-style-block-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/bool/block-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-block-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-block-card/src/interface.ts
  packages/tuya-panel-style-block-card/src/nordic.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(tuya-panel-style-block-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/bool/block-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-block-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-block-card/src/interface.ts
  packages/tuya-panel-style-block-card/src/nordic.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(tuya-panel-style-depict-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/depict-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-block-card/src/interface.ts
  packages/tuya-panel-style-depict-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-depict-card/src/index.tsx
  packages/tuya-panel-style-depict-card/src/interface.ts
  packages/tuya-panel-style-step-card/src/nordic.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi, @ZengBeauty

feat(tuya-panel-style-depict-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/depict-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-block-card/src/interface.ts
  packages/tuya-panel-style-depict-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-depict-card/src/index.tsx
  packages/tuya-panel-style-depict-card/src/interface.ts
  packages/tuya-panel-style-step-card/src/nordic.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi, @ZengBeauty

feat(tuya-panel-style-display-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/display-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-depict-card/src/interface.ts
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-display-card/src/index.tsx
  packages/tuya-panel-style-display-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(tuya-panel-style-display-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/display-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-depict-card/src/interface.ts
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-display-card/src/index.tsx
  packages/tuya-panel-style-display-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(tuya-panel-style-icon-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/icon-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-block-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-block-card/src/studio.tsx
  packages/tuya-panel-style-depict-card/src/interface.ts
  packages/tuya-panel-style-icon-card/src/__tests__/__snapshots__/intex.test.js.snap
  packages/tuya-panel-style-icon-card/src/acrylic.tsx
  packages/tuya-panel-style-icon-card/src/interface.ts
  packages/tuya-panel-style-icon-card/src/nordic.tsx
  packages/tuya-panel-style-icon-card/src/studio.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi, @ZengBeauty

feat(tuya-panel-style-icon-card): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/icon-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-block-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-block-card/src/studio.tsx
  packages/tuya-panel-style-depict-card/src/interface.ts
  packages/tuya-panel-style-icon-card/src/__tests__/__snapshots__/intex.test.js.snap
  packages/tuya-panel-style-icon-card/src/acrylic.tsx
  packages/tuya-panel-style-icon-card/src/interface.ts
  packages/tuya-panel-style-icon-card/src/nordic.tsx
  packages/tuya-panel-style-icon-card/src/studio.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi, @ZengBeauty

fix(Popup.list): fix the horizontal line disappearing due to the decimal point problem && add checkIconColor props (#132)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

fix(Popup.list): fix the horizontal line disappearing due to the decimal point problem && add checkIconColor props (#132)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

feat(tuya-panel-style-list-car): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/list-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-list-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-list-card/src/index.tsx
  packages/tuya-panel-style-list-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(tuya-panel-style-list-car): update definition
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/list-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-list-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-list-card/src/index.tsx
  packages/tuya-panel-style-list-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @ZengBeauty

chore(style-demo): delete unuseful demo
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button-card/index.tsx
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/routes.ts
Owners: @Saber2pr, @youngjuning

chore(style-demo): delete unuseful demo
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button-card/index.tsx
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/routes.ts
Owners: @Saber2pr, @youngjuning

deploy: 7ee6c6fd4f7a3f4131da3099b6b203ba9097fe1d
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.eff9ad31.js
  tuya-panel-kit/umi.ff7a304c.js
  tuya-panel-kit/vendors.749815c3.async.js
  tuya-panel-kit/vendors.e061bce5.async.js
Owners: @youngjuning, @ShinyLeee

deploy: 2167a7bcbfaa50e07dc7427c5b006482c120e94a
  tuya-components-styled/index.html
  tuya-components-styled/tuya-panel-kit.03e3a2ee.async.js
  tuya-components-styled/tuya-panel-kit.51c7a847.async.js
  tuya-components-styled/vendors.550d56e7.async.js
  tuya-components-styled/vendors.6b6f3645.async.js
Owners: @youngjuning, @ShinyLeee

chore(style-kit-demo): strength
  example/tuya-components-styled/babel.config.js
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/pages/bool/block-card/index.tsx
  example/tuya-components-styled/src/pages/bool/switch-card/index.tsx
  example/tuya-components-styled/src/pages/enum/list-card/index.tsx
  example/tuya-components-styled/src/pages/number/arrow-card/index.tsx
  example/tuya-components-styled/src/pages/number/step-card/index.tsx
  example/tuya-components-styled/src/pages/show/depict-card/index.tsx
  example/tuya-components-styled/src/pages/show/display-card/index.tsx
  example/tuya-components-styled/src/pages/show/icon-card/index.tsx
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  packages/tuya-panel-acrylic-kit/src/index.ts
  packages/tuya-panel-classic-kit/src/index.ts
  packages/tuya-panel-nordic-kit/package.json
  packages/tuya-panel-nordic-kit/src/index.ts
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-display-card/src/index.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty

chore(style-kit-demo): strength
  example/tuya-components-styled/babel.config.js
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/pages/bool/block-card/index.tsx
  example/tuya-components-styled/src/pages/bool/switch-card/index.tsx
  example/tuya-components-styled/src/pages/enum/list-card/index.tsx
  example/tuya-components-styled/src/pages/number/arrow-card/index.tsx
  example/tuya-components-styled/src/pages/number/step-card/index.tsx
  example/tuya-components-styled/src/pages/show/depict-card/index.tsx
  example/tuya-components-styled/src/pages/show/display-card/index.tsx
  example/tuya-components-styled/src/pages/show/icon-card/index.tsx
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  packages/tuya-panel-acrylic-kit/src/index.ts
  packages/tuya-panel-classic-kit/src/index.ts
  packages/tuya-panel-nordic-kit/package.json
  packages/tuya-panel-nordic-kit/src/index.ts
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-display-card/src/index.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(gh-pages-ci): add workflow_dispatch
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

fix(gh-pages-ci): add workflow_dispatch
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

deploy: 282222914cdf59cf93fff8a583fba8db118a96ac
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.615b1d43.async.js
  tuya-panel-kit/tuya-panel-kit.840cc6e9.async.js
  tuya-panel-kit/vendors.2748b6b1.async.js
  tuya-panel-kit/vendors.749815c3.async.js
Owners: @youngjuning, @ShinyLeee

chore(pkg): update eslint
  package.json
  yarn.lock
Owners: @youngjuning, @ShinyLeee

chore(pkg): update eslint
  package.json
  yarn.lock
Owners: @youngjuning, @ShinyLeee

feat(IconBackground): props desc
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/icon-background/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-icon-background/README.md
  packages/tuya-panel-style-icon-background/src/__tests__/__snapshots__/icon-background.test.js.snap
  packages/tuya-panel-style-icon-background/src/background.tsx
  packages/tuya-panel-style-icon-background/src/index.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(IconBackground): props desc
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/show/icon-background/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-icon-background/README.md
  packages/tuya-panel-style-icon-background/src/__tests__/__snapshots__/icon-background.test.js.snap
  packages/tuya-panel-style-icon-background/src/background.tsx
  packages/tuya-panel-style-icon-background/src/index.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(Button): props desc、rewrite longPress and icon
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/basic/icon-background/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-button/src/index.tsx
  packages/tuya-panel-style-button/src/interface.ts
  packages/tuya-panel-style-button/tsconfig.json
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(Button): props desc、rewrite longPress and icon
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/basic/icon-background/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-button/src/index.tsx
  packages/tuya-panel-style-button/src/interface.ts
  packages/tuya-panel-style-button/tsconfig.json
Owners: @Saber2pr, @youngjuning, @chechengyi

feat: test、demo
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-button/jest.config.js
  packages/tuya-panel-style-button/src/__tests__/__snapshots__/style-button.test.js.snap
  packages/tuya-panel-style-button/src/__tests__/style-button.test.js
  packages/tuya-panel-style-button/src/interface.ts
  packages/tuya-panel-style-icon-background/src/index.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat: test、demo
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-button/jest.config.js
  packages/tuya-panel-style-button/src/__tests__/__snapshots__/style-button.test.js.snap
  packages/tuya-panel-style-button/src/__tests__/style-button.test.js
  packages/tuya-panel-style-button/src/interface.ts
  packages/tuya-panel-style-icon-background/src/index.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(ButtonCard): demo、props desc、test
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-button-card/jest.config.js
  packages/tuya-panel-style-button-card/src/__tests__/__snapshots__/button-card.test.js.snap
  packages/tuya-panel-style-button-card/src/index.tsx
  packages/tuya-panel-style-button-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(ButtonCard): demo、props desc、test
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-button-card/jest.config.js
  packages/tuya-panel-style-button-card/src/__tests__/__snapshots__/button-card.test.js.snap
  packages/tuya-panel-style-button-card/src/index.tsx
  packages/tuya-panel-style-button-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(SliderCard): demo、test、props desc
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/pages/number/slider-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-slider-card/jest.config.js
  packages/tuya-panel-style-slider-card/src/__tests__/__snapshots__/style-card.test.js.snap
  packages/tuya-panel-style-slider-card/src/__tests__/style-card.test.js
  packages/tuya-panel-style-slider-card/src/index.tsx
  packages/tuya-panel-style-slider-card/src/interface.ts
  packages/tuya-panel-style-slider-card/src/theme.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(SliderCard): demo、test、props desc
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/pages/number/slider-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-slider-card/jest.config.js
  packages/tuya-panel-style-slider-card/src/__tests__/__snapshots__/style-card.test.js.snap
  packages/tuya-panel-style-slider-card/src/__tests__/style-card.test.js
  packages/tuya-panel-style-slider-card/src/index.tsx
  packages/tuya-panel-style-slider-card/src/interface.ts
  packages/tuya-panel-style-slider-card/src/theme.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(EnumTabsButtonCard): demo、test、props desc
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/enum-tabs-button-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-enum-tabs-button-card/jest.config.js
  packages/tuya-panel-style-enum-tabs-button-card/src/__tests__/__snapshots__/style-enum-tabs-card.test.js.snap
  packages/tuya-panel-style-enum-tabs-button-card/src/index.tsx
  packages/tuya-panel-style-enum-tabs-button-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(EnumTabsButtonCard): demo、test、props desc
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/enum-tabs-button-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-enum-tabs-button-card/jest.config.js
  packages/tuya-panel-style-enum-tabs-button-card/src/__tests__/__snapshots__/style-enum-tabs-card.test.js.snap
  packages/tuya-panel-style-enum-tabs-button-card/src/index.tsx
  packages/tuya-panel-style-enum-tabs-button-card/src/interface.ts
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(EnumSliderCard): demo、test、desc props
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/enum-slider-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-enum-slider-card/src/__tests__/__snapshots__/enum-slider-card.test.js.snap
  packages/tuya-panel-style-enum-slider-card/src/acrylic.tsx
  packages/tuya-panel-style-enum-slider-card/src/index.tsx
  packages/tuya-panel-style-enum-slider-card/src/interface.ts
  packages/tuya-panel-style-enum-slider-card/tsconfig.json
  packages/tuya-panel-style-icon-background/src/__tests__/__snapshots__/icon-background.test.js.snap
  packages/tuya-panel-style-icon-background/src/index.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(EnumSliderCard): demo、test、desc props
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/enum/enum-slider-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  packages/tuya-panel-style-enum-slider-card/src/__tests__/__snapshots__/enum-slider-card.test.js.snap
  packages/tuya-panel-style-enum-slider-card/src/acrylic.tsx
  packages/tuya-panel-style-enum-slider-card/src/index.tsx
  packages/tuya-panel-style-enum-slider-card/src/interface.ts
  packages/tuya-panel-style-enum-slider-card/tsconfig.json
  packages/tuya-panel-style-icon-background/src/__tests__/__snapshots__/icon-background.test.js.snap
  packages/tuya-panel-style-icon-background/src/index.tsx
Owners: @Saber2pr, @youngjuning, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty
