Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

fix(ble): fix the conflict between the Bluetooth prompt pop-up box and the Bluetooth permission application pop-up box, fixed #142
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

fix(ble): fix the conflict between the Bluetooth prompt pop-up box and the Bluetooth permission application pop-up box, fixed #142 (#148)
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

fix(ble): fix the conflict between the Bluetooth prompt pop-up box and the Bluetooth permission application pop-up box, fixed #142 (#148)
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

chore: edit publish scripts
  package.json
Owners: @youngjuning, @ShinyLeee

chore: edit publish scripts
  package.json
Owners: @youngjuning, @ShinyLeee

docs(animation): add definition
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/drawer/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/src/routes.ts
  example/tuya-panel-kit/yalc.lock
Owners: @Saber2pr, @youngjuning

docs(animation): add definition
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/drawer/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/src/routes.ts
  example/tuya-panel-kit/yalc.lock
Owners: @Saber2pr, @youngjuning

deploy: 9827ca54cb1ec0eb8cb04719ebd0fe30679a44d0
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.9971f501.async.js
  tuya-panel-kit/tuya-panel-kit.9d2d5b98.async.js
  tuya-panel-kit/umi.8c6aa130.js
  tuya-panel-kit/umi.a02f5e71.js
  tuya-panel-kit/vendors.a27f1980.async.js
  tuya-panel-kit/vendors.a6b4938a.async.js
Owners: @youngjuning, @ShinyLeee

fix(Popup.picker): Fix popup.picker unit missing, fixed #151
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/popup/picker.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Popup.picker): Fix popup.picker unit missing, fixed #151 (#152)
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/popup/picker.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Popup.picker): Fix popup.picker unit missing, fixed #151 (#152)
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/popup/picker.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

deploy: e6913486057936a5025f6a367016264e48469332
  tuya-components-styled/index.html
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.9971f501.async.js
  tuya-panel-kit/tuya-panel-kit.9a1ea3bd.async.js
Owners: @youngjuning, @ShinyLeee

feat(Stepper): add tuya-panel-stepper
  packages/tuya-panel-stepper/README.md
  packages/tuya-panel-stepper/jest.config.js
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-stepper/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-stepper/src/__tests__/index.test.js
  packages/tuya-panel-stepper/src/index.tsx
  packages/tuya-panel-stepper/src/interface.ts
  packages/tuya-panel-stepper/src/styled.ts
  packages/tuya-panel-stepper/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(Stepper): add tuya-panel-stepper
  packages/tuya-panel-stepper/README.md
  packages/tuya-panel-stepper/jest.config.js
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-stepper/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-stepper/src/__tests__/index.test.js
  packages/tuya-panel-stepper/src/index.tsx
  packages/tuya-panel-stepper/src/interface.ts
  packages/tuya-panel-stepper/src/styled.ts
  packages/tuya-panel-stepper/tsconfig.json
Owners: @youngjuning, @ShinyLeee

fix: 修复三方手势库在android端无效
  packages/tuya-panel-kit/src/components/layout/full-view/index.js
Owners: @ZengBeauty

fix(Popup.countdowm): fix minutes not being set to 0 when useTYRCTPicker is true and countdown clock is set to Max, fixes #155
  example/tuya-panel-kit/src/pages/feedback/popup/index.tsx
  packages/tuya-panel-kit/src/components/picker-view/TYRCTPicker.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Popup.countdowm): fix minutes not being set to 0 when useTYRCTPicker is true and countdown clock is set to Max, fixes #155 (#156)
  example/tuya-panel-kit/src/pages/feedback/popup/index.tsx
  packages/tuya-panel-kit/src/components/picker-view/TYRCTPicker.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Popup.countdowm): fix minutes not being set to 0 when useTYRCTPicker is true and countdown clock is set to Max, fixes #155 (#156)
  example/tuya-panel-kit/src/pages/feedback/popup/index.tsx
  packages/tuya-panel-kit/src/components/picker-view/TYRCTPicker.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

chore: remove unused prepublishOnly
  package.json
Owners: @youngjuning, @ShinyLeee

chore: remove unused prepublishOnly
  package.json
Owners: @youngjuning, @ShinyLeee

deploy: 65ac365791f1fe21452af91f778912d90c583cb0
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.9a1ea3bd.async.js
  tuya-panel-kit/tuya-panel-kit.9ee837c8.async.js
Owners: @youngjuning, @ShinyLeee

feat(IconFont): add IconFont
  packages/tuya-panel-icon/README.md
  packages/tuya-panel-icon/jest.config.js
  packages/tuya-panel-icon/package.json
  packages/tuya-panel-icon/src/__tests__/__snapshots__/art.test.js.snap
  packages/tuya-panel-icon/src/__tests__/__snapshots__/svg.test.js.snap
  packages/tuya-panel-icon/src/__tests__/art.test.js
  packages/tuya-panel-icon/src/__tests__/svg.test.js
  packages/tuya-panel-icon/src/art/defaultSvg.ts
  packages/tuya-panel-icon/src/art/index.tsx
  packages/tuya-panel-icon/src/art/interface.ts
  packages/tuya-panel-icon/src/index.tsx
  packages/tuya-panel-icon/src/svg/defaultSvg.ts
  packages/tuya-panel-icon/src/svg/index.tsx
  packages/tuya-panel-icon/src/svg/interface.ts
  packages/tuya-panel-icon/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(IconFont): add IconFont
  packages/tuya-panel-icon/README.md
  packages/tuya-panel-icon/jest.config.js
  packages/tuya-panel-icon/package.json
  packages/tuya-panel-icon/src/__tests__/__snapshots__/art.test.js.snap
  packages/tuya-panel-icon/src/__tests__/__snapshots__/svg.test.js.snap
  packages/tuya-panel-icon/src/__tests__/art.test.js
  packages/tuya-panel-icon/src/__tests__/svg.test.js
  packages/tuya-panel-icon/src/art/defaultSvg.ts
  packages/tuya-panel-icon/src/art/index.tsx
  packages/tuya-panel-icon/src/art/interface.ts
  packages/tuya-panel-icon/src/index.tsx
  packages/tuya-panel-icon/src/svg/defaultSvg.ts
  packages/tuya-panel-icon/src/svg/index.tsx
  packages/tuya-panel-icon/src/svg/interface.ts
  packages/tuya-panel-icon/tsconfig.json
Owners: @youngjuning, @ShinyLeee

chore(stepper): chang IconFont
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-stepper/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-stepper/src/index.tsx
  packages/tuya-panel-stepper/src/styled.ts
  packages/tuya-panel-stepper/tsconfig.json
Owners: @youngjuning, @ShinyLeee

chore(stepper): chang IconFont
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-stepper/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-stepper/src/index.tsx
  packages/tuya-panel-stepper/src/styled.ts
  packages/tuya-panel-stepper/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(SwitchButton): add tuya-panel-switch
  packages/tuya-panel-switch/README.md
  packages/tuya-panel-switch/jest.config.js
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-switch/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-switch/src/__tests__/index.test.js
  packages/tuya-panel-switch/src/constants.ts
  packages/tuya-panel-switch/src/index.tsx
  packages/tuya-panel-switch/src/interface.ts
  packages/tuya-panel-switch/src/switch.tsx
  packages/tuya-panel-switch/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(SwitchButton): add tuya-panel-switch
  packages/tuya-panel-switch/README.md
  packages/tuya-panel-switch/jest.config.js
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-switch/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-switch/src/__tests__/index.test.js
  packages/tuya-panel-switch/src/constants.ts
  packages/tuya-panel-switch/src/index.tsx
  packages/tuya-panel-switch/src/interface.ts
  packages/tuya-panel-switch/src/switch.tsx
  packages/tuya-panel-switch/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(components): add tuya-panel-linear-gradient
  packages/tuya-panel-linear-gradient/README.md
  packages/tuya-panel-linear-gradient/jest.config.js
  packages/tuya-panel-linear-gradient/package.json
  packages/tuya-panel-linear-gradient/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-linear-gradient/src/__tests__/index.test.js
  packages/tuya-panel-linear-gradient/src/index.tsx
  packages/tuya-panel-linear-gradient/src/interface.ts
  packages/tuya-panel-linear-gradient/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(components): add tuya-panel-linear-gradient
  packages/tuya-panel-linear-gradient/README.md
  packages/tuya-panel-linear-gradient/jest.config.js
  packages/tuya-panel-linear-gradient/package.json
  packages/tuya-panel-linear-gradient/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-linear-gradient/src/__tests__/index.test.js
  packages/tuya-panel-linear-gradient/src/index.tsx
  packages/tuya-panel-linear-gradient/src/interface.ts
  packages/tuya-panel-linear-gradient/tsconfig.json
Owners: @youngjuning, @ShinyLeee

chore(Switch): replace LinearGradient
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-switch/src/switch.tsx
  packages/tuya-panel-switch/tsconfig.json
Owners: @youngjuning, @ShinyLeee

chore(Switch): replace LinearGradient
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-switch/src/switch.tsx
  packages/tuya-panel-switch/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(Slider): add tuya-panel-slider
  packages/tuya-panel-slider/README.md
  packages/tuya-panel-slider/jest.config.js
  packages/tuya-panel-slider/package.json
  packages/tuya-panel-slider/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-slider/src/__tests__/index.test.js
  packages/tuya-panel-slider/src/index.tsx
  packages/tuya-panel-slider/src/interface.ts
  packages/tuya-panel-slider/src/slider.tsx
  packages/tuya-panel-slider/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(Slider): add tuya-panel-slider
  packages/tuya-panel-slider/README.md
  packages/tuya-panel-slider/jest.config.js
  packages/tuya-panel-slider/package.json
  packages/tuya-panel-slider/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-slider/src/__tests__/index.test.js
  packages/tuya-panel-slider/src/index.tsx
  packages/tuya-panel-slider/src/interface.ts
  packages/tuya-panel-slider/src/slider.tsx
  packages/tuya-panel-slider/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(Slider): support vibration
  packages/tuya-panel-slider/src/interface.ts
  packages/tuya-panel-slider/src/slider.tsx
Owners: @youngjuning, @ShinyLeee

feat(Slider): support vibration
  packages/tuya-panel-slider/src/interface.ts
  packages/tuya-panel-slider/src/slider.tsx
Owners: @youngjuning, @ShinyLeee

refact: change branch name master to main
  .github/workflows/commitlint.yml
  .github/workflows/gh-pages.yml
  .github/workflows/jest.yml
Owners: @youngjuning, @ShinyLeee

refact: change branch name master to main
  .github/workflows/commitlint.yml
  .github/workflows/gh-pages.yml
  .github/workflows/jest.yml
Owners: @youngjuning, @ShinyLeee

fix(theme): Fixed crashes where the theme is not Light or Dark
  packages/tuya-panel-theme/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty

fix(theme): Fixed crashes where the theme is not Light or Dark (#157)
  packages/tuya-panel-theme/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty

fix(theme): Fixed crashes where the theme is not Light or Dark (#157)
  packages/tuya-panel-theme/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty
