Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

deploy: 69e0f72a12a9d24bc026fdf6c82df14c2b7dcd15
  tuya-components-styled/index.html
  tuya-components-styled/vendors.454d0881.async.js
  tuya-components-styled/vendors.bec54c63.async.js
Owners: @youngjuning, @ShinyLeee

feat(tuya-panel-tabs): add Tabs
  packages/tuya-panel-tabs/README.md
  packages/tuya-panel-tabs/jest.config.js
  packages/tuya-panel-tabs/package.json
  packages/tuya-panel-tabs/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabs/src/__tests__/index.test.js
  packages/tuya-panel-tabs/src/constant.ts
  packages/tuya-panel-tabs/src/index.tsx
  packages/tuya-panel-tabs/src/interface.ts
  packages/tuya-panel-tabs/src/styled.ts
  packages/tuya-panel-tabs/src/tab-content.tsx
  packages/tuya-panel-tabs/src/tab-mask.tsx
  packages/tuya-panel-tabs/src/tab-panel.tsx
  packages/tuya-panel-tabs/src/tab-scroll-view.tsx
  packages/tuya-panel-tabs/src/utils.ts
  packages/tuya-panel-tabs/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(tuya-panel-tabs): add Tabs
  packages/tuya-panel-tabs/README.md
  packages/tuya-panel-tabs/jest.config.js
  packages/tuya-panel-tabs/package.json
  packages/tuya-panel-tabs/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabs/src/__tests__/index.test.js
  packages/tuya-panel-tabs/src/constant.ts
  packages/tuya-panel-tabs/src/index.tsx
  packages/tuya-panel-tabs/src/interface.ts
  packages/tuya-panel-tabs/src/styled.ts
  packages/tuya-panel-tabs/src/tab-content.tsx
  packages/tuya-panel-tabs/src/tab-mask.tsx
  packages/tuya-panel-tabs/src/tab-panel.tsx
  packages/tuya-panel-tabs/src/tab-scroll-view.tsx
  packages/tuya-panel-tabs/src/utils.ts
  packages/tuya-panel-tabs/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat: stylefix height background
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/presentation/collapsible/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tyflat-list/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tysection-list/index.tsx
  example/tuya-panel-kit/yalc.lock
  example/tuya-panel-kit/yarn.lock
Owners: @Saber2pr, @youngjuning

feat: stylefix height background
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/presentation/collapsible/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tyflat-list/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tysection-list/index.tsx
  example/tuya-panel-kit/yalc.lock
  example/tuya-panel-kit/yarn.lock
Owners: @Saber2pr, @youngjuning

deploy: 52d82c6a878b37be0c18ea92b1bb036a640fbf18
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.8c6aa130.js
  tuya-panel-kit/umi.f95c83c9.js
  tuya-panel-kit/vendors.a6b4938a.async.js
  tuya-panel-kit/vendors.a7bec813.async.js
Owners: @youngjuning, @ShinyLeee

chore(tabs): fix ts
  packages/tuya-panel-tabs/src/interface.ts
Owners: @youngjuning, @ShinyLeee

chore(tabs): fix ts
  packages/tuya-panel-tabs/src/interface.ts
Owners: @youngjuning, @ShinyLeee

fix(Modal): Fixed an issue with Popup and Dialog combining content overlay on Android,fixed #158
  example/tuya-panel-kit/yalc.lock
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/modal/TYModal.js
  packages/tuya-panel-kit/src/components/modal/__tests__/__snapshots__/TYModal.test.js.snap
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Modal): Fixed an issue with Popup and Dialog combining content overlay on Android,fixed #158 (#160)
  example/tuya-panel-kit/yalc.lock
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/modal/TYModal.js
  packages/tuya-panel-kit/src/components/modal/__tests__/__snapshots__/TYModal.test.js.snap
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Modal): Fixed an issue with Popup and Dialog combining content overlay on Android,fixed #158 (#160)
  example/tuya-panel-kit/yalc.lock
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/modal/TYModal.js
  packages/tuya-panel-kit/src/components/modal/__tests__/__snapshots__/TYModal.test.js.snap
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix(Notification): Fixed an issue where Notification was automatically destroyed in the background, fixed #159
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
  packages/tuya-panel-layout/src/react-navigation/interface.ts
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

fix(Notification): Fixed an issue where Notification was automatically destroyed in the background, fixed #159 (#161)
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
  packages/tuya-panel-layout/src/react-navigation/interface.ts
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

fix(Notification): Fixed an issue where Notification was automatically destroyed in the background, fixed #159 (#161)
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
  packages/tuya-panel-layout/src/react-navigation/interface.ts
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

fix(Dialog && Popup): fix theme = basic in Dialog or Popup
  packages/tuya-panel-theme/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty

fix(Dialog && Popup): fix theme = basic in Dialog or Popup (#162)
  packages/tuya-panel-theme/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty

fix(Dialog && Popup): fix theme = basic in Dialog or Popup (#162)
  packages/tuya-panel-theme/src/core.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty

deploy: a16f9f698e9d75421c0bfd74c7a5fc414de6e7a5
  tuya-components-styled/index.html
  tuya-components-styled/vendors.454d0881.async.js
  tuya-components-styled/vendors.7a6a557c.async.js
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add tuya-panel-tabbar
  packages/tuya-panel-tabbar/README.md
  packages/tuya-panel-tabbar/jest.config.js
  packages/tuya-panel-tabbar/package.json
  packages/tuya-panel-tabbar/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabbar/src/__tests__/index.test.js
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
  packages/tuya-panel-tabbar/src/radio-button/__tests__/group.test.js
  packages/tuya-panel-tabbar/src/radio-button/group.tsx
  packages/tuya-panel-tabbar/src/radio-button/interface.ts
  packages/tuya-panel-tabbar/src/radio-button/radioButton.tsx
  packages/tuya-panel-tabbar/src/tabHoc.tsx
  packages/tuya-panel-tabbar/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add tuya-panel-tabbar
  packages/tuya-panel-tabbar/README.md
  packages/tuya-panel-tabbar/jest.config.js
  packages/tuya-panel-tabbar/package.json
  packages/tuya-panel-tabbar/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabbar/src/__tests__/index.test.js
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
  packages/tuya-panel-tabbar/src/radio-button/__tests__/group.test.js
  packages/tuya-panel-tabbar/src/radio-button/group.tsx
  packages/tuya-panel-tabbar/src/radio-button/interface.ts
  packages/tuya-panel-tabbar/src/radio-button/radioButton.tsx
  packages/tuya-panel-tabbar/src/tabHoc.tsx
  packages/tuya-panel-tabbar/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(tab): add tuya-panel-tab
  packages/tuya-panel-tab/README.md
  packages/tuya-panel-tab/jest.config.js
  packages/tuya-panel-tab/package.json
  packages/tuya-panel-tab/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tab/src/__tests__/index.test.js
  packages/tuya-panel-tab/src/__tests__/tabContent.test.js
  packages/tuya-panel-tab/src/index.tsx
  packages/tuya-panel-tab/src/interface.ts
  packages/tuya-panel-tab/src/tabContent.tsx
  packages/tuya-panel-tab/src/tabNav.tsx
  packages/tuya-panel-tab/src/tabPane.tsx
  packages/tuya-panel-tab/src/utils.ts
  packages/tuya-panel-tab/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(tab): add tuya-panel-tab
  packages/tuya-panel-tab/README.md
  packages/tuya-panel-tab/jest.config.js
  packages/tuya-panel-tab/package.json
  packages/tuya-panel-tab/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tab/src/__tests__/index.test.js
  packages/tuya-panel-tab/src/__tests__/tabContent.test.js
  packages/tuya-panel-tab/src/index.tsx
  packages/tuya-panel-tab/src/interface.ts
  packages/tuya-panel-tab/src/tabContent.tsx
  packages/tuya-panel-tab/src/tabNav.tsx
  packages/tuya-panel-tab/src/tabPane.tsx
  packages/tuya-panel-tab/src/utils.ts
  packages/tuya-panel-tab/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(tab): add vibration
  packages/tuya-panel-tab/src/index.tsx
  packages/tuya-panel-tab/src/interface.ts
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
  packages/tuya-panel-tabs/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabs/src/index.tsx
  packages/tuya-panel-tabs/src/interface.ts
Owners: @youngjuning, @ShinyLeee

feat(tab): add vibration
  packages/tuya-panel-tab/src/index.tsx
  packages/tuya-panel-tab/src/interface.ts
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
  packages/tuya-panel-tabs/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabs/src/index.tsx
  packages/tuya-panel-tabs/src/interface.ts
Owners: @youngjuning, @ShinyLeee

chore(components): update dep
  packages/tuya-panel-linear-gradient/package.json
  packages/tuya-panel-slider/package.json
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-tab/package.json
  packages/tuya-panel-tabbar/package.json
  packages/tuya-panel-tabs/package.json
Owners: @youngjuning, @ShinyLeee

chore(components): update dep
  packages/tuya-panel-linear-gradient/package.json
  packages/tuya-panel-slider/package.json
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-tab/package.json
  packages/tuya-panel-tabbar/package.json
  packages/tuya-panel-tabs/package.json
Owners: @youngjuning, @ShinyLeee

chore(kit): migration components
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/index.js
  packages/tuya-panel-slider/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-slider/src/interface.ts
  packages/tuya-panel-style-enum-card/src/__tests__/__snapshots__/enum-card.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-switch/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-switch/src/interface.ts
  packages/tuya-panel-switch/src/switch.tsx
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/radio-button/group.tsx
  packages/tuya-panel-tabs/src/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee, @chechengyi

chore(kit): migration components
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/index.js
  packages/tuya-panel-slider/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-slider/src/interface.ts
  packages/tuya-panel-style-enum-card/src/__tests__/__snapshots__/enum-card.test.js.snap
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-switch/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-switch/src/interface.ts
  packages/tuya-panel-switch/src/switch.tsx
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/radio-button/group.tsx
  packages/tuya-panel-tabs/src/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee, @chechengyi

chore(Slider): vibration in value change
  example/tuya-panel-kit/src/pages/data-entry/slider/index.tsx
  packages/tuya-panel-slider/src/slider.tsx
Owners: @Saber2pr, @youngjuning, @ShinyLeee

chore(Slider): vibration in value change
  example/tuya-panel-kit/src/pages/data-entry/slider/index.tsx
  packages/tuya-panel-slider/src/slider.tsx
Owners: @Saber2pr, @youngjuning, @ShinyLeee

chore: set @typescript-eslint/ban-ts-comment to 0
  .eslintrc.js
Owners: @youngjuning, @ShinyLeee

chore: set @typescript-eslint/ban-ts-comment to 0
  .eslintrc.js
Owners: @youngjuning, @ShinyLeee

deploy: 2fc80b3924890e9f5076475472ac5d5b41f17f33
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.9ee837c8.async.js
  tuya-panel-kit/tuya-panel-kit.ec72281e.async.js
  tuya-panel-kit/umi.9cf8d8ff.js
  tuya-panel-kit/umi.f95c83c9.js
  tuya-panel-kit/vendors.216b0e5f.async.js
  tuya-panel-kit/vendors.a7bec813.async.js
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add scrollEnabled props
  packages/tuya-panel-tabbar/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
Owners: @youngjuning, @ShinyLeee

feat(RadialGradient): add RadialGradient
  packages/tuya-panel-radial-gradient/README.md
  packages/tuya-panel-radial-gradient/jest.config.js
  packages/tuya-panel-radial-gradient/package.json
  packages/tuya-panel-radial-gradient/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-radial-gradient/src/__tests__/index.test.js
  packages/tuya-panel-radial-gradient/src/index.tsx
  packages/tuya-panel-radial-gradient/src/interface.ts
  packages/tuya-panel-radial-gradient/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(Stepper): add tuya-panel-stepper
  packages/tuya-panel-stepper/package.json
Owners: @youngjuning, @ShinyLeee

feat(Stepper): add tuya-panel-stepper
  packages/tuya-panel-stepper/package.json
Owners: @youngjuning, @ShinyLeee

feat(SwitchButton): add tuya-panel-switch
  packages/tuya-panel-switch/package.json
Owners: @youngjuning, @ShinyLeee

feat(SwitchButton): add tuya-panel-switch
  packages/tuya-panel-switch/package.json
Owners: @youngjuning, @ShinyLeee

feat(components): add tuya-panel-linear-gradient
  packages/tuya-panel-linear-gradient/package.json
Owners: @youngjuning, @ShinyLeee
