Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

fix: styles
  example/tuya-components-styled/src/components/block-view.tsx
  example/tuya-components-styled/src/components/list-view.tsx
  example/tuya-panel-kit/src/components/block-view.tsx
  example/tuya-panel-kit/src/components/list-view.tsx
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/basic/slider-progress/index.tsx
  example/tuya-panel-kit/src/pages/data-entry/slider/index.tsx
  example/tuya-panel-kit/src/pages/feedback/swipeout/index.tsx
  example/tuya-panel-kit/src/pages/navigation/tab/index.tsx
  example/tuya-panel-kit/src/pages/navigation/tabs/index.tsx
  example/tuya-panel-kit/src/pages/presentation/carousel/index.tsx
  example/tuya-panel-kit/yalc.lock
Owners: @Saber2pr, @youngjuning

ci: remove auto-add-reviewer.yml for CODEOWNERS
  .github/workflows/auto-add-reviewer.yml
Owners: @youngjuning, @ShinyLeee

ci: remove auto-add-reviewer.yml for CODEOWNERS
  .github/workflows/auto-add-reviewer.yml
Owners: @youngjuning, @ShinyLeee

deploy: 0edf2f9611ddee4b18ee7f45ff96ac1b9f862028
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.8fb87a3a.async.js
  tuya-panel-kit/tuya-panel-kit.a9826f31.async.js
Owners: @youngjuning, @ShinyLeee

fix: style
  example/tuya-panel-kit/src/pages/navigation/tab-bar/index.tsx
  example/tuya-panel-kit/src/pages/navigation/top-bar/index.tsx
  example/tuya-panel-kit/src/pages/presentation/divider/index.tsx
  example/tuya-panel-kit/src/pages/presentation/radial-gradient/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tylist-item/index.tsx
Owners: @Saber2pr, @youngjuning

fix: style
  example/tuya-panel-kit/src/pages/navigation/tab-bar/index.tsx
  example/tuya-panel-kit/src/pages/navigation/top-bar/index.tsx
  example/tuya-panel-kit/src/pages/presentation/divider/index.tsx
  example/tuya-panel-kit/src/pages/presentation/radial-gradient/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tylist-item/index.tsx
Owners: @Saber2pr, @youngjuning

fix: scroll
  example/tuya-panel-kit/src/layouts/index.tsx
Owners: @Saber2pr, @youngjuning

fix: scroll
  example/tuya-panel-kit/src/layouts/index.tsx
Owners: @Saber2pr, @youngjuning

fix(bleOffline): fix requireNativeComponent crash
  src/components/layout/offline-view/ble-offline-view/index.js
Owners: @youngjuning, @ShinyLeee

fix(bleOffline): fix requireNativeComponent crash
  src/components/layout/offline-view/ble-offline-view/index.js
Owners: @youngjuning, @ShinyLeee

fix(Popup.list): fix the horizontal line disappearing due to the decimal point problem && add checkIconColor props
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

feat(Text): add tuya-panel-text
  packages/tuya-panel-text/README.md
  packages/tuya-panel-text/jest.config.js
  packages/tuya-panel-text/package.json
  packages/tuya-panel-text/src/__tests__/__snapshots__/text.test.js.snap
  packages/tuya-panel-text/src/__tests__/text.test.js
  packages/tuya-panel-text/src/index.tsx
  packages/tuya-panel-text/src/interface.ts
  packages/tuya-panel-text/src/styled.ts
  packages/tuya-panel-text/tsconfig.json
Owners: @youngjuning, @ShinyLeee

chore(topBar): adjust topbar
  packages/tuya-panel-topbar/package.json
  packages/tuya-panel-topbar/src/TopBarAction.tsx
  packages/tuya-panel-topbar/src/interface.ts
  packages/tuya-panel-topbar/src/styled.tsx
Owners: @youngjuning, @ShinyLeee

feat(tuya-panel-layout): add tuya-panel-layout
  packages/tuya-panel-layout/README.md
  packages/tuya-panel-layout/package.json
  packages/tuya-panel-layout/src/api/index.ts
  packages/tuya-panel-layout/src/detect-net-modal/index.tsx
  packages/tuya-panel-layout/src/full-view/index.tsx
  packages/tuya-panel-layout/src/full-view/interface.ts
  packages/tuya-panel-layout/src/index.ts
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-offline-modal.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-tip-modal.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-toast-modal.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-toast.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/index.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/styled.tsx
  packages/tuya-panel-layout/src/offline-view/index.tsx
  packages/tuya-panel-layout/src/offline-view/new-offline-view.tsx
  packages/tuya-panel-layout/src/offline-view/webview.tsx
  packages/tuya-panel-layout/src/react-navigation/TransitionPresets.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
  packages/tuya-panel-layout/src/react-navigation/interface.ts
  packages/tuya-panel-layout/src/res/arrow@2x.png
  packages/tuya-panel-layout/src/res/arrow@3x.png
  packages/tuya-panel-layout/src/res/bleAlert@2x.png
  packages/tuya-panel-layout/src/res/bleAlert@3x.png
  packages/tuya-panel-layout/src/res/bleShare@2x.png
  packages/tuya-panel-layout/src/res/bleShare@3x.png
  packages/tuya-panel-layout/src/res/bleSystem@2x.png
  packages/tuya-panel-layout/src/res/bleSystem@3x.png
  packages/tuya-panel-layout/src/res/iconfont.json
  packages/tuya-panel-layout/src/res/offline@2x.png
  packages/tuya-panel-layout/src/res/question@2x.png
  packages/tuya-panel-layout/src/res/question@3x.png
  packages/tuya-panel-layout/src/res/wifi@2x.png
  packages/tuya-panel-layout/src/res/wifi@3x.png
  packages/tuya-panel-layout/src/res/x@2x.png
  packages/tuya-panel-layout/src/res/x@3x.png
  packages/tuya-panel-layout/tsconfig.json
  packages/tuya-panel-style-display-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-utils/src/core.ts
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

chore(release): 2.1.3
  CHANGELOG.md
  package.json
Owners: @youngjuning, @ShinyLeee

chore(release): 2.1.3
  CHANGELOG.md
  package.json
Owners: @youngjuning, @ShinyLeee

deploy: 42ae6040e461d20c8f0b26c961dee58a5e90d660
  tuya-components-styled/index.html
  tuya-components-styled/tuya-panel-kit.03e3a2ee.async.js
  tuya-components-styled/tuya-panel-kit.0b9fe8d4.async.js
  tuya-components-styled/umi.47c0b05c.js
  tuya-components-styled/umi.b5ccbb23.js
  tuya-components-styled/vendors.1b00e810.async.js
  tuya-components-styled/vendors.550d56e7.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.840cc6e9.async.js
  tuya-panel-kit/tuya-panel-kit.a9826f31.async.js
  tuya-panel-kit/umi.c8e00a70.js
  tuya-panel-kit/umi.ff7a304c.js
  tuya-panel-kit/vendors.bea7f9e3.async.js
  tuya-panel-kit/vendors.e061bce5.async.js
Owners: @youngjuning, @ShinyLeee

feat(tuya-panel-style-switch-card
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/bool/switch-card/index.tsx
  example/tuya-components-styled/src/pages/number/arrow-card/index.tsx
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-style-switch-card/src/theme.ts
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(tuya-panel-style-switch-card
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/bool/switch-card/index.tsx
  example/tuya-components-styled/src/pages/number/arrow-card/index.tsx
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
  packages/tuya-panel-style-switch-card/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-style-switch-card/src/theme.ts
Owners: @Saber2pr, @youngjuning, @ZengBeauty

ci: remove node version
  .github/workflows/commitlint.yml
Owners: @youngjuning, @ShinyLeee

ci: remove node version
  .github/workflows/commitlint.yml
Owners: @youngjuning, @ShinyLeee

fix(Popup.countdown): when onlyone is true, the picker is not center (#127)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/countdown.test.js.snap
  packages/tuya-panel-kit/src/components/popup/countdown.js
  packages/tuya-panel-kit/src/components/popup/styled.js
Owners: @ZengBeauty

feat(TimerPicker): add amText and pmText to support custom (#128)
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-kit/src/components/timer-picker/utils.js
Owners: @ZengBeauty

chore(release): publish
  packages/tuya-panel-acrylic-kit/CHANGELOG.md
  packages/tuya-panel-acrylic-kit/package.json
  packages/tuya-panel-classic-kit/CHANGELOG.md
  packages/tuya-panel-classic-kit/package.json
  packages/tuya-panel-kit/CHANGELOG.md
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-nordic-kit/CHANGELOG.md
  packages/tuya-panel-nordic-kit/package.json
  packages/tuya-panel-style-block-card/CHANGELOG.md
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/CHANGELOG.md
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/CHANGELOG.md
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/CHANGELOG.md
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/CHANGELOG.md
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/CHANGELOG.md
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/CHANGELOG.md
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/CHANGELOG.md
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/CHANGELOG.md
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/CHANGELOG.md
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/CHANGELOG.md
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/CHANGELOG.md
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/CHANGELOG.md
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/CHANGELOG.md
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/CHANGELOG.md
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-topbar-mall-indicator/CHANGELOG.md
  packages/tuya-panel-topbar-mall-indicator/package.json
Owners: @ZengBeauty, @chechengyi, @Nfs-oh

ci: remove auto-add-reviewer.yml for CODEOWNERS
  .github/workflows/auto-add-reviewer.yml
Owners: @youngjuning, @ShinyLeee

docs(bleOffline): add i18n of bleOffline (#129)
  packages/tuya-panel-kit/src/components/i18n/strings.js
Owners: @ZengBeauty

fix(Popup.list): When Popup.list is set to subtitle, it cannot be displayed normally (#125)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

chore(kit): update example
  example/tuya-panel-kit/babel.config.js
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/yarn.lock
  package.json
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-layout/package.json
  packages/tuya-panel-topbar/package.json
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee, @ZengBeauty

chore(kit): update description
  packages/tuya-panel-text/src/interface.ts
  packages/tuya-panel-topbar/src/interface.ts
Owners: @youngjuning, @ShinyLeee

fix: add flowjs presets
  example/tuya-panel-kit/babel.config.js
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/yalc.lock
  example/tuya-panel-kit/yarn.lock
Owners: @Saber2pr, @youngjuning

chore(example): update yarn.lock
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-layout/src/full-view/index.tsx
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee

fix: styles
  example/tuya-components-styled/src/components/block-view.tsx
  example/tuya-components-styled/src/components/list-view.tsx
  example/tuya-panel-kit/src/components/block-view.tsx
  example/tuya-panel-kit/src/components/list-view.tsx
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/basic/slider-progress/index.tsx
  example/tuya-panel-kit/src/pages/data-entry/slider/index.tsx
  example/tuya-panel-kit/src/pages/feedback/swipeout/index.tsx
  example/tuya-panel-kit/src/pages/navigation/tab/index.tsx
  example/tuya-panel-kit/src/pages/navigation/tabs/index.tsx
  example/tuya-panel-kit/src/pages/presentation/carousel/index.tsx
Owners: @Saber2pr, @youngjuning

ci: remove node version
  .github/workflows/commitlint.yml
Owners: @youngjuning, @ShinyLeee

fix: scroll
  example/tuya-panel-kit/src/layouts/index.tsx
Owners: @Saber2pr, @youngjuning

fix: style
  example/tuya-panel-kit/src/pages/navigation/tab-bar/index.tsx
  example/tuya-panel-kit/src/pages/navigation/top-bar/index.tsx
  example/tuya-panel-kit/src/pages/presentation/divider/index.tsx
  example/tuya-panel-kit/src/pages/presentation/radial-gradient/index.tsx
  example/tuya-panel-kit/src/pages/presentation/tylist-item/index.tsx
Owners: @Saber2pr, @youngjuning

feat(core): add tuya-panel-core
  packages/tuya-panel-core/README.md
  packages/tuya-panel-core/package.json
  packages/tuya-panel-core/src/index.js
Owners: @youngjuning, @ShinyLeee

feat(i18n): add tuya-panel-i18n
  packages/tuya-panel-i18n/README.md
  packages/tuya-panel-i18n/package.json
  packages/tuya-panel-i18n/src/index.tsx
  packages/tuya-panel-i18n/src/string.ts
  packages/tuya-panel-i18n/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(topbar): add tuya-panel-topbar
  packages/tuya-panel-topbar/README.md
  packages/tuya-panel-topbar/jest.config.js
  packages/tuya-panel-topbar/package.json
  packages/tuya-panel-topbar/src/TopBarAction.tsx
  packages/tuya-panel-topbar/src/TopBarContainer.tsx
  packages/tuya-panel-topbar/src/TopBarContent.tsx
  packages/tuya-panel-topbar/src/__tests__/__snapshots__/topbar.test.js.snap
  packages/tuya-panel-topbar/src/__tests__/topbar.test.js
  packages/tuya-panel-topbar/src/index.tsx
  packages/tuya-panel-topbar/src/interface.ts
  packages/tuya-panel-topbar/src/styled.tsx
  packages/tuya-panel-topbar/src/topBar.tsx
  packages/tuya-panel-topbar/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(text): add tuya-panel-text
  packages/tuya-panel-text/README.md
  packages/tuya-panel-text/jest.config.js
  packages/tuya-panel-text/package.json
  packages/tuya-panel-text/src/__tests__/__snapshots__/text.test.js.snap
  packages/tuya-panel-text/src/__tests__/text.test.js
  packages/tuya-panel-text/src/index.tsx
  packages/tuya-panel-text/src/interface.ts
  packages/tuya-panel-text/src/styled.ts
  packages/tuya-panel-text/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(layout): add tuya-panel-layout
  packages/tuya-panel-layout/README.md
  packages/tuya-panel-layout/package.json
  packages/tuya-panel-layout/src/api/index.ts
  packages/tuya-panel-layout/src/detect-net-modal/index.tsx
  packages/tuya-panel-layout/src/full-view/index.tsx
  packages/tuya-panel-layout/src/full-view/interface.ts
  packages/tuya-panel-layout/src/index.ts
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-offline-modal.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-tip-modal.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-toast-modal.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/ble-toast.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/index.tsx
  packages/tuya-panel-layout/src/offline-view/ble-offline-view/styled.tsx
  packages/tuya-panel-layout/src/offline-view/index.tsx
  packages/tuya-panel-layout/src/offline-view/new-offline-view.tsx
  packages/tuya-panel-layout/src/offline-view/webview.tsx
  packages/tuya-panel-layout/src/react-navigation/TransitionPresets.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
  packages/tuya-panel-layout/src/react-navigation/interface.ts
  packages/tuya-panel-layout/src/res/arrow@2x.png
  packages/tuya-panel-layout/src/res/arrow@3x.png
  packages/tuya-panel-layout/src/res/bleAlert@2x.png
  packages/tuya-panel-layout/src/res/bleAlert@3x.png
  packages/tuya-panel-layout/src/res/bleShare@2x.png
  packages/tuya-panel-layout/src/res/bleShare@3x.png
  packages/tuya-panel-layout/src/res/bleSystem@2x.png
  packages/tuya-panel-layout/src/res/bleSystem@3x.png
  packages/tuya-panel-layout/src/res/iconfont.json
  packages/tuya-panel-layout/src/res/offline@2x.png
  packages/tuya-panel-layout/src/res/question@2x.png
  packages/tuya-panel-layout/src/res/question@3x.png
  packages/tuya-panel-layout/src/res/wifi@2x.png
  packages/tuya-panel-layout/src/res/wifi@3x.png
  packages/tuya-panel-layout/src/res/x@2x.png
  packages/tuya-panel-layout/src/res/x@3x.png
  packages/tuya-panel-layout/tsconfig.json
Owners: @youngjuning, @ShinyLeee

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty
