Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

feat(IconFont): IconFont supports multi-path icon adaptation (#182)
  packages/tuya-panel-icon/src/svg/index.tsx
  packages/tuya-panel-kit/src/components/TYLists/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/checkbox/__tests__/__snapshots__/checkbox.test.js.snap
  packages/tuya-panel-kit/src/components/iconfont/svg/index.js
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

deploy: 7ab8064d49ef2475e62d34d8a6568ecf0f872640
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.0ae7c9fb.async.js
  tuya-panel-kit/tuya-panel-kit.c08b311b.async.js
  tuya-panel-kit/vendors.6b8596ba.async.js
  tuya-panel-kit/vendors.c207d2dc.async.js
Owners: @youngjuning, @ShinyLeee

Delete ROADMAP.md
  ROADMAP.md
Owners: @youngjuning, @ShinyLeee

deploy: 946a610122381f73fbd79db642b454599598679c
  tuya-components-styled/index.html
  tuya-components-styled/vendors.2e067ada.async.js
  tuya-components-styled/vendors.c665cf10.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.c08b311b.async.js
  tuya-panel-kit/tuya-panel-kit.d6433aef.async.js
  tuya-panel-kit/vendors.2a351c00.async.js
  tuya-panel-kit/vendors.6b8596ba.async.js
Owners: @youngjuning, @ShinyLeee

chore(example): update README.md
  example/tuya-components-styled/README.md
  example/tuya-panel-kit/README.md
Owners: @Saber2pr, @youngjuning

fix(reconnect): Fixed the reverse order of the IOS redirect page when the device is offline
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
Owners: @ZengBeauty

fix(reconnect): Fixed the reverse order of the IOS redirect page when the device is offline (#187)
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
Owners: @ZengBeauty

deploy: 214712585bc5102baa0cc592d3a9991bd3903b1a
  tuya-components-styled/index.html
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.23ae0ddc.async.js
  tuya-panel-kit/tuya-panel-kit.d6433aef.async.js
Owners: @youngjuning, @ShinyLeee

fix(Tabs): Fixed a mismatch between the Tabs component title and content
  packages/tuya-panel-tabs/src/tab-content.tsx
Owners: @youngjuning, @ShinyLeee

fix(Tabs): Fixed a mismatch between the Tabs component title and content (#188)
  packages/tuya-panel-tabs/src/tab-content.tsx
Owners: @youngjuning, @ShinyLeee

deploy: 0fb0e847e48e639bbef62b281930031fe6546bea
  tuya-components-styled/index.html
  tuya-components-styled/vendors.2e067ada.async.js
  tuya-components-styled/vendors.eea7dd74.async.js
Owners: @youngjuning, @ShinyLeee

chore: remove unused log
  packages/tuya-panel-kit/src/components/battery/battery.js
Owners: @ZengBeauty

deploy: 8cca2a8a75e6780dc7f5760ad8613a4b5d0a0546
  tuya-panel-kit/index.html
  tuya-panel-kit/vendors.2a351c00.async.js
  tuya-panel-kit/vendors.a9812011.async.js
Owners: @youngjuning, @ShinyLeee

feat: support bt methods
  packages/tuya-panel-kit/src/TYNativeApi.js
Owners: @ZengBeauty

chore: Adapted to react native 0.72.5
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
Owners: @ZengBeauty

chore: Adapted to react native 0.72.5
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
Owners: @ZengBeauty

chore: update dependencies versions
  packages/tuya-panel-icon/package.json
  packages/tuya-panel-kit/package.json
  yarn.lock
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

chore: lock the version of dependencies
  packages/tuya-panel-icon/package.json
Owners: @youngjuning, @ShinyLeee

chore: update lock
  yarn.lock
Owners: @youngjuning, @ShinyLeee

chore: dependencies versions update
  packages/tuya-panel-animation-wave/package.json
  packages/tuya-panel-core/package.json
  packages/tuya-panel-i18n/package.json
  packages/tuya-panel-layout/package.json
  packages/tuya-panel-linear-gradient/package.json
  packages/tuya-panel-radial-gradient/package.json
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-topbar-mall-indicator/package.json
  packages/tuya-panel-utils/package.json
  yarn.lock
Owners: @youngjuning, @ShinyLeee, @chechengyi, @Nfs-oh, @ZengBeauty

chore: deal with rnversion
  packages/tuya-panel-core/src/index.js
  packages/tuya-panel-kit/src/TYNativeApi.js
  packages/tuya-panel-kit/src/components/layout/full-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-layout/src/full-view/index.tsx
  packages/tuya-panel-layout/src/offline-view/index.tsx
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

chore: Necessary plug-in version upgrades
  packages/tuya-panel-kit/package.json
Owners: @ZengBeauty

chore: update pkg
  packages/tuya-panel-acrylic-kit/package.json
  packages/tuya-panel-animation-diffusion/package.json
  packages/tuya-panel-animation-drawer/package.json
  packages/tuya-panel-animation-wave/package.json
  packages/tuya-panel-classic-kit/package.json
  packages/tuya-panel-core/package.json
  packages/tuya-panel-i18n/package.json
  packages/tuya-panel-icon/package.json
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-layout/package.json
  packages/tuya-panel-linear-gradient/package.json
  packages/tuya-panel-nordic-kit/package.json
  packages/tuya-panel-radial-gradient/package.json
  packages/tuya-panel-slider/package.json
  packages/tuya-panel-stepper/package.json
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-switch/package.json
  packages/tuya-panel-tab/package.json
  packages/tuya-panel-tabbar/package.json
  packages/tuya-panel-tabs/package.json
  packages/tuya-panel-text/package.json
  packages/tuya-panel-theme/package.json
  packages/tuya-panel-topbar-mall-indicator/package.json
  packages/tuya-panel-topbar/package.json
  packages/tuya-panel-utils/package.json
Owners: @ZengBeauty, @youngjuning, @ShinyLeee, @chechengyi, @Nfs-oh

chore: fix deps
  packages/tuya-panel-kit/package.json
Owners: @ZengBeauty

chore: update dependency version
  package.json
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-tabs/package.json
Owners: @youngjuning, @ShinyLeee, @chechengyi

chore: update TYNativeApi
  packages/tuya-panel-kit/src/TYNativeApi.js
Owners: @ZengBeauty

fix: Pop-up dialog for unsupported device signal strength on certain newly added device type
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty, @ShinyLeee

fix: Pop-up dialog for unsupported device signal strength on certain newly added device type
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
Owners: @Saber2pr, @youngjuning, @ZengBeauty, @ShinyLeee

fix: exceptions where the compatible client cannot obtain device information
  packages/tuya-panel-kit/src/TYNativeApi.js
Owners: @ZengBeauty

chore: fix there is no signal of mqtt protocol 23
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
Owners: @ZengBeauty

chore: fix all mqtt logic
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

chore: fix there is no signal of mqtt protocol 23
  packages/tuya-panel-kit/src/components/layout/react-navigation/index.js
Owners: @ZengBeauty

chore: fix all mqtt logic
  packages/tuya-panel-kit/src/components/layout/navigator-layout/index.js
  packages/tuya-panel-layout/src/navigator-layout/index.tsx
  packages/tuya-panel-layout/src/react-navigation/index.tsx
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

feat: 鸿蒙适配
  packages/tuya-panel-kit/src/components/button-brick/button.js
  packages/tuya-panel-kit/src/components/collapsible/index.js
  packages/tuya-panel-kit/src/components/layout/topbar/styled.js
  packages/tuya-panel-kit/src/components/picker-view/index.harmony.js
  packages/tuya-panel-kit/src/components/picker-view/picker/index.harmony.js
  packages/tuya-panel-tab/src/tabContent.tsx
  packages/tuya-panel-utils/src/ratio.ts
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

feat: 鸿蒙修复补充
  packages/tuya-panel-kit/src/components/button-brick/button.js
  packages/tuya-panel-kit/src/components/collapsible/index.js
  packages/tuya-panel-kit/src/components/layout/topbar/styled.js
  packages/tuya-panel-kit/src/components/popup/countdown.js
  packages/tuya-panel-kit/src/components/tab/tabContent.js
  packages/tuya-panel-topbar/src/styled.tsx
  packages/tuya-panel-utils/src/ratio.ts
  yarn.lock
Owners: @ZengBeauty, @youngjuning, @ShinyLeee

chore: 更新 package.json 文件配置
  packages/tuya-panel-kit/package.json
Owners: @ZengBeauty
