Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

feat(EnumCard): demo、props desc、test
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  packages/tuya-panel-style-enum-card/jest.config.js
  packages/tuya-panel-style-enum-card/src/__tests__/__snapshots__/enum-card.test.js.snap
  packages/tuya-panel-style-enum-card/src/__tests__/enum-card.test.js
  packages/tuya-panel-style-enum-card/src/index.tsx
  packages/tuya-panel-style-enum-card/src/interface.ts
  packages/tuya-panel-style-enum-card/src/theme.ts
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(EnumCard): demo、props desc、test
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  packages/tuya-panel-style-enum-card/jest.config.js
  packages/tuya-panel-style-enum-card/src/__tests__/__snapshots__/enum-card.test.js.snap
  packages/tuya-panel-style-enum-card/src/__tests__/enum-card.test.js
  packages/tuya-panel-style-enum-card/src/index.tsx
  packages/tuya-panel-style-enum-card/src/interface.ts
  packages/tuya-panel-style-enum-card/src/theme.ts
Owners: @Saber2pr, @youngjuning, @chechengyi

feat(ButtonCard): Text => TYText
  packages/tuya-panel-style-button-card/src/__tests__/__snapshots__/button-card.test.js.snap
  packages/tuya-panel-style-button-card/src/index.tsx
Owners: @chechengyi

feat(ButtonCard): Text => TYText
  packages/tuya-panel-style-button-card/src/__tests__/__snapshots__/button-card.test.js.snap
  packages/tuya-panel-style-button-card/src/index.tsx
Owners: @chechengyi

feat(Popup.numberSelector): add valueStyle
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/number-selector.test.js.snap
  packages/tuya-panel-kit/src/components/popup/number-selector.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

chore: demo
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  packages/tuya-panel-style-button/README.md
Owners: @Saber2pr, @youngjuning, @chechengyi

chore: demo
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  packages/tuya-panel-style-button/README.md
Owners: @Saber2pr, @youngjuning, @chechengyi

chore(style): update pkg
  example/tuya-components-styled/package.json
  example/tuya-components-styled/yarn.lock
  example/tuya-panel-kit/yarn.lock
Owners: @Saber2pr, @youngjuning

chore(style): update pkg
  example/tuya-components-styled/package.json
  example/tuya-components-styled/yarn.lock
  example/tuya-panel-kit/yarn.lock
Owners: @Saber2pr, @youngjuning

chore(style): add src in pkg
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-text/package.json
  packages/tuya-panel-topbar/package.json
Owners: @chechengyi, @ZengBeauty, @youngjuning, @ShinyLeee

chore(style): add src in pkg
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-text/package.json
  packages/tuya-panel-topbar/package.json
Owners: @chechengyi, @ZengBeauty, @youngjuning, @ShinyLeee

feat: flow & yalc pub
  example/tuya-components-styled/babel.config.js
  example/tuya-components-styled/package.json
  example/tuya-components-styled/scripts/yalc.sh
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

feat: flow & yalc pub
  example/tuya-components-styled/babel.config.js
  example/tuya-components-styled/package.json
  example/tuya-components-styled/scripts/yalc.sh
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

chore(style): removeComments = false
  packages/tuya-panel-acrylic-kit/tsconfig.json
  packages/tuya-panel-classic-kit/tsconfig.json
  packages/tuya-panel-i18n/tsconfig.json
  packages/tuya-panel-layout/tsconfig.json
  packages/tuya-panel-nordic-kit/tsconfig.json
  packages/tuya-panel-style-block-card/src/index.tsx
  packages/tuya-panel-style-block-card/tsconfig.json
  packages/tuya-panel-style-button-card/tsconfig.json
  packages/tuya-panel-style-button/src/index.tsx
  packages/tuya-panel-style-button/tsconfig.json
  packages/tuya-panel-style-depict-card/tsconfig.json
  packages/tuya-panel-style-display-card/src/index.tsx
  packages/tuya-panel-style-display-card/src/interface.ts
  packages/tuya-panel-style-display-card/tsconfig.json
  packages/tuya-panel-style-enum-button-group/tsconfig.json
  packages/tuya-panel-style-enum-card/src/index.tsx
  packages/tuya-panel-style-enum-card/tsconfig.json
  packages/tuya-panel-style-enum-slider-card/src/acrylic.tsx
  packages/tuya-panel-style-enum-slider-card/src/index.tsx
  packages/tuya-panel-style-enum-slider-card/tsconfig.json
  packages/tuya-panel-style-enum-tabs-button-card/tsconfig.json
  packages/tuya-panel-style-icon-background/tsconfig.json
  packages/tuya-panel-style-icon-card/src/index.tsx
  packages/tuya-panel-style-icon-card/tsconfig.json
  packages/tuya-panel-style-list-card/tsconfig.json
  packages/tuya-panel-style-slider-card/src/index.tsx
  packages/tuya-panel-style-slider-card/tsconfig.json
  packages/tuya-panel-style-step-card/tsconfig.json
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-style-switch-card/src/theme.ts
  packages/tuya-panel-style-switch-card/tsconfig.json
  packages/tuya-panel-text/tsconfig.json
  packages/tuya-panel-theme/tsconfig.json
  packages/tuya-panel-topbar-mall-indicator/tsconfig.json
  packages/tuya-panel-topbar/tsconfig.json
  packages/tuya-panel-utils/tsconfig.json
  tsconfig.json
Owners: @ZengBeauty, @youngjuning, @ShinyLeee, @chechengyi, @Nfs-oh

chore(style): removeComments = false
  packages/tuya-panel-acrylic-kit/tsconfig.json
  packages/tuya-panel-classic-kit/tsconfig.json
  packages/tuya-panel-i18n/tsconfig.json
  packages/tuya-panel-layout/tsconfig.json
  packages/tuya-panel-nordic-kit/tsconfig.json
  packages/tuya-panel-style-block-card/src/index.tsx
  packages/tuya-panel-style-block-card/tsconfig.json
  packages/tuya-panel-style-button-card/tsconfig.json
  packages/tuya-panel-style-button/src/index.tsx
  packages/tuya-panel-style-button/tsconfig.json
  packages/tuya-panel-style-depict-card/tsconfig.json
  packages/tuya-panel-style-display-card/src/index.tsx
  packages/tuya-panel-style-display-card/src/interface.ts
  packages/tuya-panel-style-display-card/tsconfig.json
  packages/tuya-panel-style-enum-button-group/tsconfig.json
  packages/tuya-panel-style-enum-card/src/index.tsx
  packages/tuya-panel-style-enum-card/tsconfig.json
  packages/tuya-panel-style-enum-slider-card/src/acrylic.tsx
  packages/tuya-panel-style-enum-slider-card/src/index.tsx
  packages/tuya-panel-style-enum-slider-card/tsconfig.json
  packages/tuya-panel-style-enum-tabs-button-card/tsconfig.json
  packages/tuya-panel-style-icon-background/tsconfig.json
  packages/tuya-panel-style-icon-card/src/index.tsx
  packages/tuya-panel-style-icon-card/tsconfig.json
  packages/tuya-panel-style-list-card/tsconfig.json
  packages/tuya-panel-style-slider-card/src/index.tsx
  packages/tuya-panel-style-slider-card/tsconfig.json
  packages/tuya-panel-style-step-card/tsconfig.json
  packages/tuya-panel-style-switch-card/src/index.tsx
  packages/tuya-panel-style-switch-card/src/interface.ts
  packages/tuya-panel-style-switch-card/src/theme.ts
  packages/tuya-panel-style-switch-card/tsconfig.json
  packages/tuya-panel-text/tsconfig.json
  packages/tuya-panel-theme/tsconfig.json
  packages/tuya-panel-topbar-mall-indicator/tsconfig.json
  packages/tuya-panel-topbar/tsconfig.json
  packages/tuya-panel-utils/tsconfig.json
  tsconfig.json
Owners: @ZengBeauty, @youngjuning, @ShinyLeee, @chechengyi, @Nfs-oh

chore(style): delete src in files
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-text/package.json
  packages/tuya-panel-topbar/package.json
Owners: @chechengyi, @ZengBeauty, @youngjuning, @ShinyLeee

chore(style): delete src in files
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-text/package.json
  packages/tuya-panel-topbar/package.json
Owners: @chechengyi, @ZengBeauty, @youngjuning, @ShinyLeee

fix: show ClassicItemCard
  example/tuya-components-styled/scripts/yalc.sh
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

fix: show ClassicItemCard
  example/tuya-components-styled/scripts/yalc.sh
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

feat(Popup.numberSelector): add valueStyle (#139)
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/number-selector.test.js.snap
  packages/tuya-panel-kit/src/components/popup/number-selector.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(Popup.numberSelector): add valueStyle (#139)
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/number-selector.test.js.snap
  packages/tuya-panel-kit/src/components/popup/number-selector.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

deploy: 4d649f3020ac96bc9aa16c0d27f925b13244317c
  tuya-components-styled/index.html
  tuya-components-styled/tuya-panel-kit.51c7a847.async.js
  tuya-components-styled/tuya-panel-kit.df719ae8.async.js
  tuya-components-styled/umi.b5ccbb23.js
  tuya-components-styled/umi.b9f93baf.js
  tuya-components-styled/vendors.27aa0a3d.async.js
  tuya-components-styled/vendors.6b6f3645.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.67a78f16.js
  tuya-panel-kit/umi.eff9ad31.js
  tuya-panel-kit/vendors.2748b6b1.async.js
  tuya-panel-kit/vendors.734e54ef.async.js
Owners: @youngjuning, @ShinyLeee

docs(style): update version
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

docs(style): update version
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/pages/show/item-card/index.tsx
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

deploy: a43968bf772bbef0f637121045f19a0058f552f8
  tuya-components-styled/index.html
  tuya-components-styled/tuya-panel-kit.73da553b.async.js
  tuya-components-styled/tuya-panel-kit.df719ae8.async.js
  tuya-components-styled/umi.690cae6f.js
  tuya-components-styled/umi.b9f93baf.js
  tuya-components-styled/vendors.27aa0a3d.async.js
  tuya-components-styled/vendors.5413ccd6.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.615b1d43.async.js
  tuya-panel-kit/tuya-panel-kit.a4e477ae.async.js
Owners: @youngjuning, @ShinyLeee

ci: add eslint for review
  .github/workflows/eslint
Owners: @youngjuning, @ShinyLeee

ci: add eslint for review
  .github/workflows/eslint
Owners: @youngjuning, @ShinyLeee

Rename eslint to eslint.yml
  .github/workflows/eslint.yml
Owners: @youngjuning, @ShinyLeee

Rename eslint to eslint.yml
  .github/workflows/eslint.yml
Owners: @youngjuning, @ShinyLeee

feat(Swipeout): Swipeout add onScrollEnd
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/swipeout/swipeout.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(Swipeout): Swipeout update onScrollEnd
  packages/tuya-panel-kit/src/components/swipeout/swipeout.js
Owners: @ZengBeauty

feat(diffusion): add tuya-panel-animation-diffusion
  packages/tuya-panel-animation-diffusion/README.md
  packages/tuya-panel-animation-diffusion/jest.config.js
  packages/tuya-panel-animation-diffusion/package.json
  packages/tuya-panel-animation-diffusion/src/__tests__/__snapshots__/diffusion.test.js.snap
  packages/tuya-panel-animation-diffusion/src/__tests__/diffusion.test.js
  packages/tuya-panel-animation-diffusion/src/index.tsx
  packages/tuya-panel-animation-diffusion/src/interface.ts
  packages/tuya-panel-animation-diffusion/src/utils.ts
  packages/tuya-panel-animation-diffusion/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(drawer): add tuya-panel-animation-drawer
  packages/tuya-panel-animation-drawer/README.md
  packages/tuya-panel-animation-drawer/jest.config.js
  packages/tuya-panel-animation-drawer/package.json
  packages/tuya-panel-animation-drawer/src/__tests__/__snapshots__/drawer.test.js.snap
  packages/tuya-panel-animation-drawer/src/__tests__/drawer.test.js
  packages/tuya-panel-animation-drawer/src/index.tsx
  packages/tuya-panel-animation-drawer/src/interface.ts
  packages/tuya-panel-animation-drawer/src/utils.ts
  packages/tuya-panel-animation-drawer/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(wave): add tuya-panel-animation-wave
  packages/tuya-panel-animation-wave/README.md
  packages/tuya-panel-animation-wave/jest.config.js
  packages/tuya-panel-animation-wave/package.json
  packages/tuya-panel-animation-wave/src/__tests__/__snapshots__/wave.test.js.snap
  packages/tuya-panel-animation-wave/src/__tests__/wave.test.js
  packages/tuya-panel-animation-wave/src/index.tsx
  packages/tuya-panel-animation-wave/src/interface.ts
  packages/tuya-panel-animation-wave/src/utils.ts
  packages/tuya-panel-animation-wave/tsconfig.json
Owners: @youngjuning, @ShinyLeee

docs(demo): add animation demo
  example/tuya-panel-kit/src/components/block-view.tsx
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/main.tsx
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/drawer/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/src/routes.ts
  package.json
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee

feat: dynamic read routes
  example/tuya-panel-kit/.umirc.ts
  example/tuya-panel-kit/read-routes.js
Owners: @Saber2pr, @youngjuning

feat(feature/tuya-panel-kit-sophia): swipeout add onScrollEnd (#141)
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/swipeout/swipeout.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(feature/tuya-panel-kit-sophia): swipeout add onScrollEnd (#141)
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/src/components/swipeout/swipeout.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

fix: dynamic read routes
  example/tuya-panel-kit/.umirc.ts
  example/tuya-panel-kit/read-routes.js
Owners: @Saber2pr, @youngjuning

refact: gh ci
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/gh-pages-kit.yml
  .github/workflows/gh-pages-styled.yml
  .github/workflows/gh-pages.yml
  .gitignore
  example/dist/.gitkeep
Owners: @youngjuning, @ShinyLeee, @Saber2pr
