Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

feat(components): add tuya-panel-linear-gradient
  packages/tuya-panel-linear-gradient/package.json
Owners: @youngjuning, @ShinyLeee

feat(Slider): add tuya-panel-slider
  packages/tuya-panel-slider/package.json
Owners: @youngjuning, @ShinyLeee

feat(Slider): add tuya-panel-slider
  packages/tuya-panel-slider/package.json
Owners: @youngjuning, @ShinyLeee

feat(Slider): support vibration
  packages/tuya-panel-slider/src/slider.tsx
Owners: @youngjuning, @ShinyLeee

feat(Slider): support vibration
  packages/tuya-panel-slider/src/slider.tsx
Owners: @youngjuning, @ShinyLeee

feat(tuya-panel-tabs): add Tabs
  packages/tuya-panel-tabs/package.json
Owners: @youngjuning, @ShinyLeee

feat(tuya-panel-tabs): add Tabs
  packages/tuya-panel-tabs/package.json
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add tuya-panel-tabbar
  packages/tuya-panel-tabbar/package.json
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add tuya-panel-tabbar
  packages/tuya-panel-tabbar/package.json
Owners: @youngjuning, @ShinyLeee

feat(tab): add tuya-panel-tab
  packages/tuya-panel-tab/package.json
Owners: @youngjuning, @ShinyLeee

feat(tab): add tuya-panel-tab
  packages/tuya-panel-tab/package.json
Owners: @youngjuning, @ShinyLeee

chore(Slider): vibration in value change
  packages/tuya-panel-slider/src/slider.tsx
Owners: @youngjuning, @ShinyLeee

chore(Slider): vibration in value change
  packages/tuya-panel-slider/src/slider.tsx
Owners: @youngjuning, @ShinyLeee

deploy: 124035794e3c936f4c4d50d3e8d0ddabf7ae1228
  tuya-components-styled/index.html
  tuya-components-styled/vendors.2cd0b349.async.js
  tuya-components-styled/vendors.7a6a557c.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.3c42d679.async.js
  tuya-panel-kit/tuya-panel-kit.ec72281e.async.js
  tuya-panel-kit/vendors.216b0e5f.async.js
  tuya-panel-kit/vendors.8c640929.async.js
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add scrollEnabled props (#165)
  packages/tuya-panel-tabbar/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
Owners: @youngjuning, @ShinyLeee

feat(TabBar): add scrollEnabled props (#165)
  packages/tuya-panel-tabbar/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-tabbar/src/index.tsx
  packages/tuya-panel-tabbar/src/interface.ts
Owners: @youngjuning, @ShinyLeee

feat(RadialGradient): add RadialGradient (#166)
  packages/tuya-panel-radial-gradient/README.md
  packages/tuya-panel-radial-gradient/jest.config.js
  packages/tuya-panel-radial-gradient/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-radial-gradient/src/__tests__/index.test.js
  packages/tuya-panel-radial-gradient/src/index.tsx
  packages/tuya-panel-radial-gradient/src/interface.ts
  packages/tuya-panel-radial-gradient/tsconfig.json
Owners: @youngjuning, @ShinyLeee

feat(RadialGradient): add RadialGradient (#166)
  packages/tuya-panel-radial-gradient/README.md
  packages/tuya-panel-radial-gradient/jest.config.js
  packages/tuya-panel-radial-gradient/package.json
  packages/tuya-panel-radial-gradient/src/__tests__/__snapshots__/index.test.js.snap
  packages/tuya-panel-radial-gradient/src/__tests__/index.test.js
  packages/tuya-panel-radial-gradient/src/index.tsx
  packages/tuya-panel-radial-gradient/src/interface.ts
  packages/tuya-panel-radial-gradient/tsconfig.json
Owners: @youngjuning, @ShinyLeee

deploy: 04f70356eb65c4650d667ad6fbb37a7fb28c858e
  tuya-components-styled/index.html
  tuya-components-styled/vendors.2cd0b349.async.js
  tuya-components-styled/vendors.6ab4624f.async.js
Owners: @youngjuning, @ShinyLeee

feat(ble): The offline jump link was changed to the knowledge base H5 link
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

feat(Prompt): animation optimization
  packages/tuya-panel-kit/src/components/dialog/__tests__/__snapshots__/prompt.test.js.snap
  packages/tuya-panel-kit/src/components/dialog/prompt.js
  packages/tuya-panel-kit/src/components/dialog/styled.js
  packages/tuya-panel-kit/src/components/dialog/withMotion.js
Owners: @ZengBeauty

feat(Motion): Motion migrate
  example/tuya-panel-kit/src/pages/basic/motion/index.tsx
  packages/tuya-panel-motion/README.md
  packages/tuya-panel-motion/jest.config.js
  packages/tuya-panel-motion/package.json
  packages/tuya-panel-motion/src/__tests__/__snapshots__/fade.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/pull-up.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/push-down.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/scale-fade-in.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/scale-pull-down.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/toast.test.js.snap
  packages/tuya-panel-motion/src/__tests__/fade.test.js
  packages/tuya-panel-motion/src/__tests__/pull-up.test.js
  packages/tuya-panel-motion/src/__tests__/push-down.test.js
  packages/tuya-panel-motion/src/__tests__/scale-fade-in.test.js
  packages/tuya-panel-motion/src/__tests__/scale-pull-down.test.js
  packages/tuya-panel-motion/src/__tests__/toast.test.js
  packages/tuya-panel-motion/src/constant.ts
  packages/tuya-panel-motion/src/fade.tsx
  packages/tuya-panel-motion/src/index.tsx
  packages/tuya-panel-motion/src/interface.ts
  packages/tuya-panel-motion/src/pull-up.tsx
  packages/tuya-panel-motion/src/push-down.tsx
  packages/tuya-panel-motion/src/scale-fade-in.tsx
  packages/tuya-panel-motion/src/scale-pull-down.tsx
  packages/tuya-panel-motion/src/toast.tsx
  packages/tuya-panel-motion/tsconfig.json
Owners: @Saber2pr, @youngjuning, @ShinyLeee

feat(ble): The offline jump link was changed to the knowledge base H5 link (#167)
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

feat(ble): The offline jump link was changed to the knowledge base H5 link (#167)
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

Revert "feat(ble): The offline jump link was changed to the knowledge base H5 link (#167)"
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

Revert "feat(ble): The offline jump link was changed to the knowledge base H5 link (#167)" (#170)
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

Revert "feat(ble): The offline jump link was changed to the knowledge base H5 link (#167)" (#170)
  packages/tuya-panel-kit/src/components/layout/api/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/ble-offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/index.js
  packages/tuya-panel-kit/src/components/layout/offline-view/new-offline-view.js
Owners: @ZengBeauty

feat(Prompt): animation optimization (#168)
  packages/tuya-panel-kit/src/components/dialog/__tests__/__snapshots__/prompt.test.js.snap
  packages/tuya-panel-kit/src/components/dialog/prompt.js
  packages/tuya-panel-kit/src/components/dialog/styled.js
  packages/tuya-panel-kit/src/components/dialog/withMotion.js
Owners: @ZengBeauty

feat(Prompt): animation optimization (#168)
  packages/tuya-panel-kit/src/components/dialog/__tests__/__snapshots__/prompt.test.js.snap
  packages/tuya-panel-kit/src/components/dialog/prompt.js
  packages/tuya-panel-kit/src/components/dialog/styled.js
  packages/tuya-panel-kit/src/components/dialog/withMotion.js
Owners: @ZengBeauty

deploy: 207cc086051bc3a7bb83c96f81946c02ca2f3fca
  tuya-panel-kit/index.html
  tuya-panel-kit/vendors.05fa0210.async.js
  tuya-panel-kit/vendors.8c640929.async.js
Owners: @youngjuning, @ShinyLeee

feat(Motion): Motion migrate (#169)
  example/tuya-panel-kit/src/pages/basic/motion/index.tsx
  packages/tuya-panel-motion/README.md
  packages/tuya-panel-motion/jest.config.js
  packages/tuya-panel-motion/src/__tests__/__snapshots__/fade.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/pull-up.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/push-down.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/scale-fade-in.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/scale-pull-down.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/toast.test.js.snap
  packages/tuya-panel-motion/src/__tests__/fade.test.js
  packages/tuya-panel-motion/src/__tests__/pull-up.test.js
  packages/tuya-panel-motion/src/__tests__/push-down.test.js
  packages/tuya-panel-motion/src/__tests__/scale-fade-in.test.js
  packages/tuya-panel-motion/src/__tests__/scale-pull-down.test.js
  packages/tuya-panel-motion/src/__tests__/toast.test.js
  packages/tuya-panel-motion/src/constant.ts
  packages/tuya-panel-motion/src/fade.tsx
  packages/tuya-panel-motion/src/index.tsx
  packages/tuya-panel-motion/src/interface.ts
  packages/tuya-panel-motion/src/pull-up.tsx
  packages/tuya-panel-motion/src/push-down.tsx
  packages/tuya-panel-motion/src/scale-fade-in.tsx
  packages/tuya-panel-motion/src/scale-pull-down.tsx
  packages/tuya-panel-motion/src/toast.tsx
  packages/tuya-panel-motion/tsconfig.json
Owners: @Saber2pr, @youngjuning, @ShinyLeee

feat(Motion): Motion migrate (#169)
  example/tuya-panel-kit/src/pages/basic/motion/index.tsx
  packages/tuya-panel-motion/README.md
  packages/tuya-panel-motion/jest.config.js
  packages/tuya-panel-motion/package.json
  packages/tuya-panel-motion/src/__tests__/__snapshots__/fade.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/pull-up.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/push-down.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/scale-fade-in.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/scale-pull-down.test.js.snap
  packages/tuya-panel-motion/src/__tests__/__snapshots__/toast.test.js.snap
  packages/tuya-panel-motion/src/__tests__/fade.test.js
  packages/tuya-panel-motion/src/__tests__/pull-up.test.js
  packages/tuya-panel-motion/src/__tests__/push-down.test.js
  packages/tuya-panel-motion/src/__tests__/scale-fade-in.test.js
  packages/tuya-panel-motion/src/__tests__/scale-pull-down.test.js
  packages/tuya-panel-motion/src/__tests__/toast.test.js
  packages/tuya-panel-motion/src/constant.ts
  packages/tuya-panel-motion/src/fade.tsx
  packages/tuya-panel-motion/src/index.tsx
  packages/tuya-panel-motion/src/interface.ts
  packages/tuya-panel-motion/src/pull-up.tsx
  packages/tuya-panel-motion/src/push-down.tsx
  packages/tuya-panel-motion/src/scale-fade-in.tsx
  packages/tuya-panel-motion/src/scale-pull-down.tsx
  packages/tuya-panel-motion/src/toast.tsx
  packages/tuya-panel-motion/tsconfig.json
Owners: @Saber2pr, @youngjuning, @ShinyLeee

deploy: ecb01cab981fc98c582e1e516a9c6a8e45cc0adf
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.428636e0.js
  tuya-panel-kit/umi.9cf8d8ff.js
Owners: @youngjuning, @ShinyLeee

deploy: f9cbd7b93a5565b62c0fbee0b32118230dbb6e96
  tuya-components-styled/index.html
Owners: @youngjuning, @ShinyLeee

fix: rm jsDev
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

fix: rm jsDev
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

fix: jsDev images url
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/src/pages/presentation/rotation-view/index.tsx
Owners: @Saber2pr, @youngjuning

fix: jsDev images url
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/src/pages/presentation/rotation-view/index.tsx
Owners: @Saber2pr, @youngjuning

deploy: 75fc8d9bf71032da53da45ddf2d7f6bbdca9d847
  tuya-panel-kit/index.html
  tuya-panel-kit/style.58d03940.js
  tuya-panel-kit/style.ebc568c0.js
  tuya-panel-kit/tuya-panel-kit.3c42d679.async.js
  tuya-panel-kit/tuya-panel-kit.98665cef.async.js
  tuya-panel-kit/umi.428636e0.js
  tuya-panel-kit/umi.c4744948.js
Owners: @youngjuning, @ShinyLeee

deploy: 56d1848164a5cf78eec3b422faa469afb75f6595
  tuya-components-styled/index.html
  tuya-components-styled/style.58d03940.js
  tuya-components-styled/style.9dd27ce3.js
  tuya-components-styled/umi.687dccb6.js
  tuya-components-styled/umi.c934ee84.js
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.2bb73588.js
  tuya-panel-kit/umi.c4744948.js
Owners: @youngjuning, @ShinyLeee
