Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

feat: styled components
  example/tuya-components-styled/package.json
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/main.tsx
  example/tuya-components-styled/src/pages/basic/battery/index.tsx
  example/tuya-components-styled/src/pages/basic/brick-button/index.tsx
  example/tuya-components-styled/src/pages/button-card/index.tsx
  example/tuya-components-styled/src/pages/button/index.tsx
  example/tuya-components-styled/src/routes.ts
  example/tuya-components-styled/yalc.lock
  example/tuya-components-styled/yarn.lock
Owners: @Saber2pr, @youngjuning

fix(Popup.list): When Popup.list is set to subtitle, it cannot be displayed normally
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

deploy: 9dad4d2d274afa8243de8950868eb76b8711eddb
  tuya-components-styled/index.html
  tuya-components-styled/style.e91da424.js
  tuya-components-styled/tuya-panel-kit.338a55e9.async.js
  tuya-components-styled/umi-plugin-react-native.180ead60.chunk.css
  tuya-components-styled/umi-plugin-react-native.480c547b.async.js
  tuya-components-styled/umi.421616d9.js
  tuya-components-styled/umi.6998e3b3.css
  tuya-components-styled/vendors.1b00e810.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.e91da424.js
  tuya-panel-kit/tuya-panel-kit.8fb87a3a.async.js
  tuya-panel-kit/umi-plugin-react-native.180ead60.chunk.css
  tuya-panel-kit/umi-plugin-react-native.480c547b.async.js
  tuya-panel-kit/umi.6998e3b3.css
  tuya-panel-kit/umi.c39517de.js
  tuya-panel-kit/vendors.bea7f9e3.async.js
  umi.a67e5549.js
Owners: @youngjuning, @ShinyLeee

fix: examples cdn
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

fix: examples cdn
  example/tuya-components-styled/.umirc.ts
  example/tuya-panel-kit/.umirc.ts
Owners: @Saber2pr, @youngjuning

deploy: 0695d23b582c4607042ca04189908faa135e7da6
  tuya-components-styled/index.html
  tuya-components-styled/style.9dd27ce3.js
  tuya-components-styled/style.e91da424.js
  tuya-components-styled/umi.421616d9.js
  tuya-components-styled/umi.b2fdeaf5.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.e91da424.js
  tuya-panel-kit/style.ebc568c0.js
  tuya-panel-kit/umi.5b1c67e4.js
  tuya-panel-kit/umi.c39517de.js
Owners: @youngjuning, @ShinyLeee

fix(example): wrapper scroll
  example/tuya-components-styled/src/components/TuyaWrapper.tsx
  example/tuya-components-styled/src/layouts/index.tsx
  example/tuya-panel-kit/src/components/TuyaWrapper.tsx
  example/tuya-panel-kit/src/layouts/index.tsx
  example/tuya-panel-kit/yalc.lock
Owners: @Saber2pr, @youngjuning

fix(example): wrapper scroll
  example/tuya-components-styled/src/components/TuyaWrapper.tsx
  example/tuya-components-styled/src/layouts/index.tsx
  example/tuya-panel-kit/src/components/TuyaWrapper.tsx
  example/tuya-panel-kit/src/layouts/index.tsx
  example/tuya-panel-kit/yalc.lock
Owners: @Saber2pr, @youngjuning

deploy: bd513c783e1240ce5c4c8a0cf7bc1405330fa9c1
  tuya-components-styled/index.html
  tuya-components-styled/umi.b2fdeaf5.js
  tuya-components-styled/umi.db6f0841.js
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.1182af88.js
  tuya-panel-kit/umi.5b1c67e4.js
Owners: @youngjuning, @ShinyLeee

fix(example): route reset
  example/tuya-components-styled/src/hooks/usePostedPush.ts
  example/tuya-panel-kit/src/hooks/usePostedPush.ts
  example/tuya-panel-kit/src/pages/presentation/circle-view/index.tsx
Owners: @Saber2pr, @youngjuning

fix(example): route reset
  example/tuya-components-styled/src/hooks/usePostedPush.ts
  example/tuya-panel-kit/src/hooks/usePostedPush.ts
  example/tuya-panel-kit/src/pages/presentation/circle-view/index.tsx
Owners: @Saber2pr, @youngjuning

deploy: b55e6048a234338500237f81921952a36473ed47
  tuya-components-styled/index.html
  tuya-components-styled/umi.db6f0841.js
  tuya-components-styled/umi.e61384f6.js
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.1182af88.js
  tuya-panel-kit/umi.7f11e20f.js
Owners: @youngjuning, @ShinyLeee

fix(example): stylefix
  example/tuya-panel-kit/src/pages/feedback/tips/index.tsx
  example/tuya-panel-kit/src/pages/presentation/collapsible/index.tsx
Owners: @Saber2pr, @youngjuning

fix(example): stylefix
  example/tuya-panel-kit/src/pages/feedback/tips/index.tsx
  example/tuya-panel-kit/src/pages/presentation/collapsible/index.tsx
Owners: @Saber2pr, @youngjuning

deploy: ec264ad66ec7df8c8523af0326048a526375058c
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.7f11e20f.js
  tuya-panel-kit/umi.aee89ff3.js
Owners: @youngjuning, @ShinyLeee

fix(example): images url
  example/tuya-panel-kit/src/pages/presentation/rotation-view/index.tsx
Owners: @Saber2pr, @youngjuning

fix(example): images url
  example/tuya-panel-kit/src/pages/presentation/rotation-view/index.tsx
Owners: @Saber2pr, @youngjuning

deploy: 96e24d5a3b3b6e35b58c3c7a8b1e0d745874f2b4
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.aee89ff3.js
  tuya-panel-kit/umi.c8e00a70.js
Owners: @youngjuning, @ShinyLeee

feat(example): styled demos
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button-card/index.tsx
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/routes.ts
Owners: @Saber2pr, @youngjuning

feat(example): styled demos
  example/tuya-components-styled/src/i18n/strings.ts
  example/tuya-components-styled/src/pages/basic/button-card/index.tsx
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/routes.ts
Owners: @Saber2pr, @youngjuning

deploy: 1dd097a522a878ff571c9bdf7cd140b6c9fe3143
  tuya-components-styled/index.html
  tuya-components-styled/umi.47c0b05c.js
  tuya-components-styled/umi.e61384f6.js
Owners: @youngjuning, @ShinyLeee

fix(Popup.countdown): when onlyone is true, the picker is not center
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/countdown.test.js.snap
  packages/tuya-panel-kit/src/components/popup/countdown.js
  packages/tuya-panel-kit/src/components/popup/styled.js
Owners: @ZengBeauty

feat(tuya-panel-topbar): add tuya-panel-topbar
  packages/tuya-panel-topbar/README.md
  packages/tuya-panel-topbar/jest.config.js
  packages/tuya-panel-topbar/package.json
  packages/tuya-panel-topbar/src/TopBarAction.tsx
  packages/tuya-panel-topbar/src/TopBarContainer.tsx
  packages/tuya-panel-topbar/src/TopBarContent.tsx
  packages/tuya-panel-topbar/src/__tests__/__snapshots__/topbar.test.js.snap
  packages/tuya-panel-topbar/src/__tests__/topbar.test.js
  packages/tuya-panel-topbar/src/index.tsx
  packages/tuya-panel-topbar/src/interface.ts
  packages/tuya-panel-topbar/src/styled.tsx
  packages/tuya-panel-topbar/src/topBar.tsx
  packages/tuya-panel-topbar/tsconfig.json
  packages/tuya-panel-utils/src/theme/utils.ts
  yarn.lock
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

feat(TimerPicker): add amText and pmText to support custom
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-kit/src/components/timer-picker/utils.js
Owners: @ZengBeauty

feat(tuya-panel-core): add tuya-panel-core
  packages/tuya-panel-core/README.md
  packages/tuya-panel-core/package.json
  packages/tuya-panel-core/src/index.js
Owners: @youngjuning, @ShinyLeee

feat(Popup.Countdown): Popup.countdown support props of PickerView
  packages/tuya-panel-kit/src/components/popup/countdown.js
Owners: @ZengBeauty

docs(bleOffline): add i18n of bleOffline
  packages/tuya-panel-kit/src/components/i18n/strings.js
Owners: @ZengBeauty

feat(i18n): add tuya-panel-i18n
  packages/tuya-panel-i18n/README.md
  packages/tuya-panel-i18n/package.json
  packages/tuya-panel-i18n/src/index.tsx
  packages/tuya-panel-i18n/src/string.ts
  packages/tuya-panel-i18n/tsconfig.json
Owners: @youngjuning, @ShinyLeee

fix(Popup.list): When Popup.list is set to subtitle, it cannot be displayed normally (#125)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

fix(Popup.list): When Popup.list is set to subtitle, it cannot be displayed normally (#125)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/list.test.js.snap
  packages/tuya-panel-kit/src/components/popup/list.js
Owners: @ZengBeauty

fix(Popup.countdown): when onlyone is true, the picker is not center (#127)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/countdown.test.js.snap
  packages/tuya-panel-kit/src/components/popup/countdown.js
  packages/tuya-panel-kit/src/components/popup/styled.js
Owners: @ZengBeauty

fix(Popup.countdown): when onlyone is true, the picker is not center (#127)
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/countdown.test.js.snap
  packages/tuya-panel-kit/src/components/popup/countdown.js
  packages/tuya-panel-kit/src/components/popup/styled.js
Owners: @ZengBeauty

feat(TimerPicker): add amText and pmText to support custom (#128)
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-kit/src/components/timer-picker/utils.js
Owners: @ZengBeauty

feat(TimerPicker): add amText and pmText to support custom (#128)
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-kit/src/components/timer-picker/utils.js
Owners: @ZengBeauty

docs(bleOffline): add i18n of bleOffline (#129)
  packages/tuya-panel-kit/src/components/i18n/strings.js
Owners: @ZengBeauty

docs(bleOffline): add i18n of bleOffline (#129)
  packages/tuya-panel-kit/src/components/i18n/strings.js
Owners: @ZengBeauty

chore(release): publish
  packages/tuya-panel-acrylic-kit/CHANGELOG.md
  packages/tuya-panel-acrylic-kit/package.json
  packages/tuya-panel-classic-kit/CHANGELOG.md
  packages/tuya-panel-classic-kit/package.json
  packages/tuya-panel-kit/CHANGELOG.md
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-nordic-kit/CHANGELOG.md
  packages/tuya-panel-nordic-kit/package.json
  packages/tuya-panel-style-block-card/CHANGELOG.md
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/CHANGELOG.md
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/CHANGELOG.md
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/CHANGELOG.md
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/CHANGELOG.md
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/CHANGELOG.md
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/CHANGELOG.md
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/CHANGELOG.md
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/CHANGELOG.md
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/CHANGELOG.md
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/CHANGELOG.md
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/CHANGELOG.md
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/CHANGELOG.md
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/CHANGELOG.md
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/CHANGELOG.md
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-topbar-mall-indicator/CHANGELOG.md
  packages/tuya-panel-topbar-mall-indicator/package.json
Owners: @ZengBeauty, @chechengyi, @Nfs-oh

chore(release): publish
  packages/tuya-panel-acrylic-kit/CHANGELOG.md
  packages/tuya-panel-acrylic-kit/package.json
  packages/tuya-panel-classic-kit/CHANGELOG.md
  packages/tuya-panel-classic-kit/package.json
  packages/tuya-panel-kit/CHANGELOG.md
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-nordic-kit/CHANGELOG.md
  packages/tuya-panel-nordic-kit/package.json
  packages/tuya-panel-style-block-card/CHANGELOG.md
  packages/tuya-panel-style-block-card/package.json
  packages/tuya-panel-style-button-card/CHANGELOG.md
  packages/tuya-panel-style-button-card/package.json
  packages/tuya-panel-style-button/CHANGELOG.md
  packages/tuya-panel-style-button/package.json
  packages/tuya-panel-style-depict-card/CHANGELOG.md
  packages/tuya-panel-style-depict-card/package.json
  packages/tuya-panel-style-display-card/CHANGELOG.md
  packages/tuya-panel-style-display-card/package.json
  packages/tuya-panel-style-enum-button-group/CHANGELOG.md
  packages/tuya-panel-style-enum-button-group/package.json
  packages/tuya-panel-style-enum-card/CHANGELOG.md
  packages/tuya-panel-style-enum-card/package.json
  packages/tuya-panel-style-enum-slider-card/CHANGELOG.md
  packages/tuya-panel-style-enum-slider-card/package.json
  packages/tuya-panel-style-enum-tabs-button-card/CHANGELOG.md
  packages/tuya-panel-style-enum-tabs-button-card/package.json
  packages/tuya-panel-style-icon-background/CHANGELOG.md
  packages/tuya-panel-style-icon-background/package.json
  packages/tuya-panel-style-icon-card/CHANGELOG.md
  packages/tuya-panel-style-icon-card/package.json
  packages/tuya-panel-style-list-card/CHANGELOG.md
  packages/tuya-panel-style-list-card/package.json
  packages/tuya-panel-style-slider-card/CHANGELOG.md
  packages/tuya-panel-style-slider-card/package.json
  packages/tuya-panel-style-step-card/CHANGELOG.md
  packages/tuya-panel-style-step-card/package.json
  packages/tuya-panel-style-switch-card/CHANGELOG.md
  packages/tuya-panel-style-switch-card/package.json
  packages/tuya-panel-topbar-mall-indicator/CHANGELOG.md
  packages/tuya-panel-topbar-mall-indicator/package.json
Owners: @ZengBeauty, @chechengyi, @Nfs-oh

deploy: c5be695131676108648ad64aba0da05ea153040c
  tuya-components-styled/index.html
  tuya-components-styled/tuya-panel-kit.0b9fe8d4.async.js
  tuya-components-styled/tuya-panel-kit.338a55e9.async.js
Owners: @youngjuning, @ShinyLeee

fix: styles
  example/tuya-components-styled/src/components/block-view.tsx
  example/tuya-components-styled/src/components/list-view.tsx
  example/tuya-panel-kit/src/components/block-view.tsx
  example/tuya-panel-kit/src/components/list-view.tsx
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/pages/basic/slider-progress/index.tsx
  example/tuya-panel-kit/src/pages/data-entry/slider/index.tsx
  example/tuya-panel-kit/src/pages/feedback/swipeout/index.tsx
  example/tuya-panel-kit/src/pages/navigation/tab/index.tsx
  example/tuya-panel-kit/src/pages/navigation/tabs/index.tsx
  example/tuya-panel-kit/src/pages/presentation/carousel/index.tsx
  example/tuya-panel-kit/yalc.lock
Owners: @Saber2pr, @youngjuning

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty
