Repository tuya/tuya-panel-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @youngjuning, @ShinyLeee, @Saber2pr, @ZengBeauty, @Nfs-oh, @chechengyi

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @youngjuning will be requested for review when someone opens a pull request.
*       @youngjuning @ShinyLeee

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.

# youngjuning@洛竹、Saber2pr@睦海、ZengBeauty@多肉、ShinyLeee@咕噜、Nfs-oh@Bryan、chechengyi@锐文
/example/ @Saber2pr @youngjuning
/packages/tuya-panel-kit/ @ZengBeauty
/packages/tuya-panel-theme/ @ZengBeauty
/packages/tuya-panel-utils/ @ZengBeauty
/packages/tuya-panel-topbar-mall-indicator/ @Nfs-oh
/packages/tuya-panel-acrylic-kit/ @ZengBeauty
/packages/tuya-panel-classic-kit/ @ZengBeauty
/packages/tuya-panel-nordic-kit/ @ZengBeauty
/packages/tuya-panel-style-block-card/ @chechengyi
/packages/tuya-panel-style-button/ @chechengyi
/packages/tuya-panel-style-button-card/ @chechengyi
/packages/tuya-panel-style-depict-card/ @ZengBeauty
/packages/tuya-panel-style-display-card/ @ZengBeauty
/packages/tuya-panel-style-enum-button-group/ @chechengyi
/packages/tuya-panel-style-enum-card/ @chechengyi
/packages/tuya-panel-style-enum-slider-card/ @chechengyi
/packages/tuya-panel-style-enum-tabs-button-card/ @chechengyi
/packages/tuya-panel-style-icon-background/ @chechengyi
/packages/tuya-panel-style-icon-card/ @ZengBeauty
/packages/tuya-panel-style-list-card/ @ZengBeauty
/packages/tuya-panel-style-slider-card/ @chechengyi
/packages/tuya-panel-style-step-card/ @ZengBeauty
/packages/tuya-panel-style-switch-card/ @ZengBeauty

refact: gh ci
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/gh-pages-kit.yml
  .github/workflows/gh-pages-styled.yml
  .github/workflows/gh-pages.yml
  .gitignore
  example/dist/.gitkeep
Owners: @youngjuning, @ShinyLeee, @Saber2pr

fix: gh ci
  .github/workflows/gh-pages-deploy.yml
Owners: @youngjuning, @ShinyLeee

fix: gh ci
  .github/workflows/gh-pages-deploy.yml
Owners: @youngjuning, @ShinyLeee

deploy: f45b109e6f1bf782b14f5879831d180e0310f95e
  .gitkeep
  tuya-components-styled/index.html
  tuya-components-styled/style.9dd27ce3.js
  tuya-components-styled/tuya-panel-kit.73da553b.async.js
  tuya-components-styled/umi-plugin-react-native.180ead60.chunk.css
  tuya-components-styled/umi-plugin-react-native.480c547b.async.js
  tuya-components-styled/umi.690cae6f.js
  tuya-components-styled/umi.6998e3b3.css
  tuya-components-styled/vendors.5413ccd6.async.js
  tuya-panel-kit/index.html
  tuya-panel-kit/style.ebc568c0.js
  tuya-panel-kit/tuya-panel-kit.a4e477ae.async.js
  tuya-panel-kit/umi-plugin-react-native.180ead60.chunk.css
  tuya-panel-kit/umi-plugin-react-native.480c547b.async.js
  tuya-panel-kit/umi.67a78f16.js
  tuya-panel-kit/umi.6998e3b3.css
  tuya-panel-kit/vendors.734e54ef.async.js
Owners: @youngjuning, @ShinyLeee

fix: gh ci
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/gh-pages-kit.yml
  .github/workflows/gh-pages-styled.yml
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

fix: gh ci
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/gh-pages-kit.yml
  .github/workflows/gh-pages-styled.yml
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

chore: fix
  example/dist/.gitkeep
Owners: @Saber2pr, @youngjuning

chore: fix
  example/dist/.gitkeep
Owners: @Saber2pr, @youngjuning

fix: ci
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

fix: ci
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

deploy: 075d3a819dc46c1b40e3a28abcb9b00f51e4ed4a
  .gitkeep
  tuya-panel-kit/index.html
  tuya-panel-kit/style.ebc568c0.js
  tuya-panel-kit/tuya-panel-kit.6c366642.async.js
  tuya-panel-kit/umi-plugin-react-native.180ead60.chunk.css
  tuya-panel-kit/umi-plugin-react-native.480c547b.async.js
  tuya-panel-kit/umi.67a78f16.js
  tuya-panel-kit/umi.6998e3b3.css
  tuya-panel-kit/vendors.734e54ef.async.js
Owners: @youngjuning, @ShinyLeee

ci: set --max-old-space-size=4096
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

ci: set --max-old-space-size=4096
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

ci: --max-old-space-size=4096
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

ci: --max-old-space-size=4096
  .github/workflows/gh-pages.yml
Owners: @youngjuning, @ShinyLeee

deploy: ee7fd8a0638775f95537d1901cb6179083e498c6
  tuya-components-styled/index.html
  tuya-components-styled/style.9dd27ce3.js
  tuya-components-styled/umi-plugin-react-native.180ead60.chunk.css
  tuya-components-styled/umi-plugin-react-native.480c547b.async.js
  tuya-components-styled/umi.690cae6f.js
  tuya-components-styled/umi.6998e3b3.css
  tuya-components-styled/vendors.e5f4820a.async.js
Owners: @youngjuning, @ShinyLeee

style: format code
  packages/tuya-panel-animation-drawer/src/__tests__/drawer.test.js
Owners: @youngjuning, @ShinyLeee

feat: add animation (#143)
  example/tuya-panel-kit/.umirc.ts
  example/tuya-panel-kit/read-routes.js
  example/tuya-panel-kit/src/components/block-view.tsx
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/main.tsx
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/drawer/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/src/routes.ts
  package.json
  packages/tuya-panel-animation-diffusion/README.md
  packages/tuya-panel-animation-diffusion/jest.config.js
  packages/tuya-panel-animation-diffusion/package.json
  packages/tuya-panel-animation-diffusion/src/__tests__/__snapshots__/diffusion.test.js.snap
  packages/tuya-panel-animation-diffusion/src/__tests__/diffusion.test.js
  packages/tuya-panel-animation-diffusion/src/index.tsx
  packages/tuya-panel-animation-diffusion/src/interface.ts
  packages/tuya-panel-animation-diffusion/src/utils.ts
  packages/tuya-panel-animation-diffusion/tsconfig.json
  packages/tuya-panel-animation-drawer/README.md
  packages/tuya-panel-animation-drawer/jest.config.js
  packages/tuya-panel-animation-drawer/package.json
  packages/tuya-panel-animation-drawer/src/__tests__/__snapshots__/drawer.test.js.snap
  packages/tuya-panel-animation-drawer/src/__tests__/drawer.test.js
  packages/tuya-panel-animation-drawer/src/index.tsx
  packages/tuya-panel-animation-drawer/src/interface.ts
  packages/tuya-panel-animation-drawer/src/utils.ts
  packages/tuya-panel-animation-drawer/tsconfig.json
  packages/tuya-panel-animation-wave/README.md
  packages/tuya-panel-animation-wave/jest.config.js
  packages/tuya-panel-animation-wave/package.json
  packages/tuya-panel-animation-wave/src/__tests__/__snapshots__/wave.test.js.snap
  packages/tuya-panel-animation-wave/src/__tests__/wave.test.js
  packages/tuya-panel-animation-wave/src/index.tsx
  packages/tuya-panel-animation-wave/src/interface.ts
  packages/tuya-panel-animation-wave/src/utils.ts
  packages/tuya-panel-animation-wave/tsconfig.json
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee

feat: add animation (#143)
  example/tuya-panel-kit/.umirc.ts
  example/tuya-panel-kit/read-routes.js
  example/tuya-panel-kit/src/components/block-view.tsx
  example/tuya-panel-kit/src/i18n/strings.ts
  example/tuya-panel-kit/src/main.tsx
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/drawer/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/src/routes.ts
  package.json
  packages/tuya-panel-animation-diffusion/README.md
  packages/tuya-panel-animation-diffusion/jest.config.js
  packages/tuya-panel-animation-diffusion/package.json
  packages/tuya-panel-animation-diffusion/src/__tests__/__snapshots__/diffusion.test.js.snap
  packages/tuya-panel-animation-diffusion/src/__tests__/diffusion.test.js
  packages/tuya-panel-animation-diffusion/src/index.tsx
  packages/tuya-panel-animation-diffusion/src/interface.ts
  packages/tuya-panel-animation-diffusion/src/utils.ts
  packages/tuya-panel-animation-diffusion/tsconfig.json
  packages/tuya-panel-animation-drawer/README.md
  packages/tuya-panel-animation-drawer/jest.config.js
  packages/tuya-panel-animation-drawer/package.json
  packages/tuya-panel-animation-drawer/src/__tests__/__snapshots__/drawer.test.js.snap
  packages/tuya-panel-animation-drawer/src/__tests__/drawer.test.js
  packages/tuya-panel-animation-drawer/src/index.tsx
  packages/tuya-panel-animation-drawer/src/interface.ts
  packages/tuya-panel-animation-drawer/src/utils.ts
  packages/tuya-panel-animation-drawer/tsconfig.json
  packages/tuya-panel-animation-wave/README.md
  packages/tuya-panel-animation-wave/jest.config.js
  packages/tuya-panel-animation-wave/package.json
  packages/tuya-panel-animation-wave/src/__tests__/__snapshots__/wave.test.js.snap
  packages/tuya-panel-animation-wave/src/__tests__/wave.test.js
  packages/tuya-panel-animation-wave/src/index.tsx
  packages/tuya-panel-animation-wave/src/interface.ts
  packages/tuya-panel-animation-wave/src/utils.ts
  packages/tuya-panel-animation-wave/tsconfig.json
  yarn.lock
Owners: @Saber2pr, @youngjuning, @ShinyLeee

deploy: 2589476481a1834e4126a1837d5a4ddc5480fbc7
  tuya-panel-kit/index.html
  tuya-panel-kit/umi.67a78f16.js
  tuya-panel-kit/umi.9a1d33c6.js
Owners: @youngjuning, @ShinyLeee

chore(release): publish
  packages/tuya-panel-animation-diffusion/CHANGELOG.md
  packages/tuya-panel-animation-diffusion/package.json
  packages/tuya-panel-animation-drawer/CHANGELOG.md
  packages/tuya-panel-animation-drawer/package.json
  packages/tuya-panel-animation-wave/CHANGELOG.md
  packages/tuya-panel-animation-wave/package.json
Owners: @youngjuning, @ShinyLeee

chore(release): publish
  packages/tuya-panel-animation-diffusion/CHANGELOG.md
  packages/tuya-panel-animation-diffusion/package.json
  packages/tuya-panel-animation-drawer/CHANGELOG.md
  packages/tuya-panel-animation-drawer/package.json
  packages/tuya-panel-animation-wave/CHANGELOG.md
  packages/tuya-panel-animation-wave/package.json
Owners: @youngjuning, @ShinyLeee

fix(Picker): Fixed Picker font interception on Huawei Honor V9 phone
  packages/tuya-panel-kit/src/components/date-picker/__tests__/__snapshots__/date-picker.test.js.snap
  packages/tuya-panel-kit/src/components/date-picker/datePicker.js
  packages/tuya-panel-kit/src/components/picker-view/__tests__/__snapshots__/picker-view.test.js.snap
  packages/tuya-panel-kit/src/components/picker-view/index.android.js
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/date-picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/timer-picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/picker.js
  packages/tuya-panel-kit/src/components/timer-picker/__tests__/__snapshots__/timer-picker.test.js.snap
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-utils/src/theme/index.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @ZengBeauty

feat(kit): add wave、diffusion、drawer to kit
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/index.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

chore: demo Chinese
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-slider-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-tabs-button-card/index.tsx
  example/tuya-components-styled/src/pages/number/slider-card/index.tsx
Owners: @Saber2pr, @youngjuning

chore: demo Chinese (#147)
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-slider-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-tabs-button-card/index.tsx
  example/tuya-components-styled/src/pages/number/slider-card/index.tsx
Owners: @Saber2pr, @youngjuning

chore: demo Chinese (#147)
  example/tuya-components-styled/src/pages/basic/button/index.tsx
  example/tuya-components-styled/src/pages/enum/button-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-slider-card/index.tsx
  example/tuya-components-styled/src/pages/enum/enum-tabs-button-card/index.tsx
  example/tuya-components-styled/src/pages/number/slider-card/index.tsx
Owners: @Saber2pr, @youngjuning

feat(kit): add wave、diffusion、drawer to kit (#146)
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/index.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

feat(kit): add wave、diffusion、drawer to kit (#146)
  example/tuya-panel-kit/package.json
  example/tuya-panel-kit/src/pages/animation/diffusion/index.tsx
  example/tuya-panel-kit/src/pages/animation/wave/index.tsx
  example/tuya-panel-kit/yarn.lock
  packages/tuya-panel-kit/package.json
  packages/tuya-panel-kit/src/index.js
Owners: @Saber2pr, @youngjuning, @ZengBeauty

deploy: 80f09a0e6fc5b60b2953db0d164fb816fc739806
  tuya-components-styled/index.html
  tuya-components-styled/umi.690cae6f.js
  tuya-components-styled/umi.dea6f46c.js
Owners: @youngjuning, @ShinyLeee

feat(example/styled): add HEARTBEAT test
  example/tuya-components-styled/.umirc.ts
Owners: @Saber2pr, @youngjuning

feat(example/styled): add HEARTBEAT test
  example/tuya-components-styled/.umirc.ts
Owners: @Saber2pr, @youngjuning

deploy: 79617d6b23adaea8889b9c84502cd96b6c7d736c
  tuya-components-styled/index.html
Owners: @youngjuning, @ShinyLeee

docs: remove github action badge
  README-zh_CN.md
  README.md
Owners: @youngjuning, @ShinyLeee

fix(Picker): Fixed Picker font interception on Huawei Honor V9 phone, fixed #145 (#144)
  README-zh_CN.md
  README.md
  packages/tuya-panel-kit/src/components/date-picker/__tests__/__snapshots__/date-picker.test.js.snap
  packages/tuya-panel-kit/src/components/date-picker/datePicker.js
  packages/tuya-panel-kit/src/components/picker-view/__tests__/__snapshots__/picker-view.test.js.snap
  packages/tuya-panel-kit/src/components/picker-view/index.android.js
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/date-picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/timer-picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/picker.js
  packages/tuya-panel-kit/src/components/timer-picker/__tests__/__snapshots__/timer-picker.test.js.snap
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-utils/src/theme/index.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

fix(Picker): Fixed Picker font interception on Huawei Honor V9 phone, fixed #145 (#144)
  README-zh_CN.md
  README.md
  packages/tuya-panel-kit/src/components/date-picker/__tests__/__snapshots__/date-picker.test.js.snap
  packages/tuya-panel-kit/src/components/date-picker/datePicker.js
  packages/tuya-panel-kit/src/components/picker-view/__tests__/__snapshots__/picker-view.test.js.snap
  packages/tuya-panel-kit/src/components/picker-view/index.android.js
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/date-picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/__tests__/__snapshots__/timer-picker.test.js.snap
  packages/tuya-panel-kit/src/components/popup/picker.js
  packages/tuya-panel-kit/src/components/timer-picker/__tests__/__snapshots__/timer-picker.test.js.snap
  packages/tuya-panel-kit/src/components/timer-picker/index.js
  packages/tuya-panel-utils/src/theme/index.ts
  packages/tuya-panel-utils/src/theme/utils.ts
Owners: @youngjuning, @ShinyLeee, @ZengBeauty

deploy: 9ad6bcbfe8a5b795efb4f1c04e439f5a7ac167f6
  tuya-components-styled/index.html
  tuya-components-styled/vendors.bec54c63.async.js
  tuya-components-styled/vendors.e5f4820a.async.js
Owners: @youngjuning, @ShinyLeee

fix(example): wrapper size
  example/tuya-components-styled/.umirc.ts
  example/tuya-components-styled/src/components/TuyaWrapper.tsx
  example/tuya-panel-kit/src/components/TuyaWrapper.tsx
Owners: @Saber2pr, @youngjuning

fix(example): wrapper size
  example/tuya-components-styled/.umirc.ts
  example/tuya-components-styled/src/components/TuyaWrapper.tsx
  example/tuya-panel-kit/src/components/TuyaWrapper.tsx
Owners: @Saber2pr, @youngjuning

deploy: 0f044858bb9ef6c1c33a728afa6309d95ec13def
  tuya-components-styled/index.html
  tuya-components-styled/umi.687dccb6.js
  tuya-components-styled/umi.dea6f46c.js
  tuya-panel-kit/index.html
  tuya-panel-kit/tuya-panel-kit.6c366642.async.js
  tuya-panel-kit/tuya-panel-kit.9d2d5b98.async.js
  tuya-panel-kit/umi.9a1d33c6.js
  tuya-panel-kit/umi.a02f5e71.js
  tuya-panel-kit/vendors.734e54ef.async.js
  tuya-panel-kit/vendors.a27f1980.async.js
Owners: @youngjuning, @ShinyLeee
